[2018-03-23 13:34] IL4Miy opened #1 "Uncaught SyntaxError: Unexpected token <"
I imported the package in my project and use the sample code.
I get the following error when starting the application:

_Uncaught SyntaxError: Unexpected token <
/projectnames/node_modules/vue-filepond/index.vue_

I use the [electron-vue-boilertemplate](https://github.com/SimulatedGREG/electron-vue).

[2018-03-23 13:42] rikschennink commented on #1
@IL4Miy That shouldn't be happening, let me quickly run some tests!

[2018-03-23 13:48] IL4Miy commented on #1
@rikschennink Yes the `<template>` tag is the problem.

[2018-03-23 13:51] rikschennink commented on #1
@IL4Miy should a vue component be precompiled then?

Maybe it's better to use the `Vue.component` method instead of what I've got now.
[code]

[2018-03-23 14:01] IL4Miy commented on #1
@rikschennink Seems, that the vue-component can't be compiled.
Maybe it can be compiled with webpack.
Another approach could be to precompile your component and publish the JS component.
https://github.com/vuejs/vue-component-compiler

[2018-03-23 14:06] rikschennink commented on #1
@IL4Miy I'm switching to `render` function now, that should fix the issue as compilation is no longer needed.

[2018-03-23 14:27] rikschennink commented on #1
@IL4Miy I've just published version `1.0.1` of `vue-filepond`. Can you test if the switch to the render function solves the problem?

[2018-03-23 15:11] IL4Miy commented on #1
@rikschennink I now get the error, that 'import' could not be found.
But I solved the problem. In my webpack config I added `vue-filepond` to the whitelist. (`let whiteListedModules = ['vue', 'vue-filepond']`).
[Here](https://simulatedgreg.gitbooks.io/electron-vue/content/en/webpack-configurations.html#white-listing-externals) is the explanation.

I also tried the version 1.0.0 of vue-filepond and

[2018-03-23 18:39] rikschennink commented on #1
Thanks, good to know! Would be nice if no special settings were required. I'll do some research on it next week. It's probably because of ES6 syntax. Could simply replace `import` it with `require`, but there might be some other ES6 features I'm using that will have to be replaced.

[2018-03-26 08:18] weislanes opened #2 "Cannot get events nor set options"
Hi, this looks great but with few examples I'm left to try the intuitive approach but it's not working.

The instructions say events can be passed in and use 'init' as an example. In Filepond's docs this event is called 'oninit'. So I tried both variations for the rest of the event ('onaddfile' and 'addfile') and nothing happens.

[code]

Furthermore the setOptions obj isn't doing a thing, nor is

[2018-03-26 08:25] rikschennink commented on #2
Hi, sorry that it's a bit confusing.

The events should bind correctly when using the default Vue syntax like this `@init` and `@addfile`. All other properties are available as bindable attributes `allowMultiple` instead of `allow-multiple` (I just noticed the typo in the code sample) and `acceptedFileTypes` instead of `accept`.

I'll improve the docs right away!

[2018-03-26 09:02] rikschennink commented on #2
@weislanes Just published version `1.0.2`, it fixes a problem where plugin properties were not scooped up in time. Will close for now.

[2018-03-26 09:02] #2 closed

[2018-03-26 09:04] weislanes commented on #2
Hey @rikschennink, thanks.  Actually some of the mistakes were in my code so apologies for that!

Events are working as they should. I still can't get the accepted filetypes to work (below is as an array but also tried without) nor the maxFileSize. Also, is there a way to access the Filepond instance?

New code:

[code]

Note: just saw you closed this, maybe the latest version fixes what I mention

[2018-03-26 09:08] rikschennink commented on #2
@weislanes Yeah, should fix it ( will of course re-open if it doesn't ).

You can pass `accetedFileTypes` like this `acceptedFileTypes="image/png, image/jpeg, image/gif"`

Can you submit a new issue for the file pond instance? That way things stay nicely ordered by question :-)

[2018-03-26 12:07] weislanes opened #3 "Acces FilePond instance"
Hey,

Is there any way to access the Filepond instance in Vue? This would be useful in general, but also specifically I need to clear the thumbnail preview after an image is uploaded and from the docs it looks like 'removeFile' might do the trick. (Unless there's a better way?).

[2018-03-26 12:14] rikschennink commented on #3
Hi!

The FilePond instance methods are automatically added to the Vue component when it's created. If you set a `ref` you can access them directly on the property. In the example below `this.$refs.pond.removeFile()` is available.

[code]

[2018-03-26 12:17] weislanes commented on #3
Awesome, thank you. Just switched out dropzone for Filepond. Really nice work!

[2018-03-26 12:17] #3 closed

[2018-03-26 12:19] rikschennink commented on #3
Waw nice! Thanks @weislanes!

[2018-03-27 08:05] weislanes commented on #1
Hey, not the exact same error but may have a similar cause:

When building for production with webpack it spits out this error:

[code]

The files are still built  but they are not uglified/compressed.

[2018-03-27 09:30] rikschennink commented on #1
@weislanes I think this has to do with the arrow function on that line (UglifyJS cannot deal with that), are you using Bable to transpile first?

[2018-04-03 02:31] dionfananie opened #4 "running on Nuxt SSR"
i've try vue-filepond in nuxt but its get error. please make it running in nuxt

[2018-04-03 07:06] rikschennink commented on #4
Hi! Can you provide additional details, for instance, what error is thrown, which browser version are you testing with? Do you have a public test case?

[2018-04-06 09:34] rikschennink commented on #1
I've added build targets to the package, should solve the issue

[2018-04-06 09:34] #1 closed

[2018-04-06 09:36] rikschennink commented on #4
@dionfananie Both the FilePond core and the Image Preview plugin were not suitable for SSR, I've updated the packages yesterday, should now work properly.

[2018-04-06 09:36] #4 closed

[2018-04-06 19:37] weislanes commented on #1
Thanks

[2018-04-09 03:04] dionfananie commented on #4
Thank you :D !!

[2018-04-11 06:44] rosnaib11 opened #5 "Upload button not showing"
I just follow this under example.

[code]

https://codepen.io/rikschennink/pen/WXavEx

![image](https://user-images.githubusercontent.com/26837762/38600463-c76848a6-3d96-11e8-9a31-dcb61dbaa32a.png)

[2018-04-11 09:24] rikschennink commented on #5
Hi @rosnaib11, the upload button will not show if there's no `process` endpoint specified. You can do so using the `server` option. https://pqina.nl/filepond/docs/patterns/api/server/

I'll update the example to make this more obvious.

[2018-04-11 17:13] rosnaib11 commented on #5
Thanks, it should be `:server` on vue js it works

[2018-04-11 17:34] #5 closed

[2018-04-11 17:42] rosnaib11 opened #6 "Additional parameter when sending request"
Is it possible to add additional parameter on server process? Seem's no option to send additional data on request.

[code]

![image](https://user-images.githubusercontent.com/26837762/38633307-d2aa7710-3df1-11e8-9347-4e43c7e8a4a3.png)

[2018-04-11 17:43] rikschennink commented on #6
You can add metadata to the files using the `setMetadata` method. The data will then be sent along with the request. https://pqina.nl/filepond/docs/patterns/api/file/#methods

This method is also used by the Image Crop and Image Resize plugins to store image data.

[2018-04-17 19:45] Lunberg88 opened #8 "Module not found."
Have an issue. Doing all like in docs... But:

`  import FilePond, { registerPlugin } from 'vue-filepond';`
 ` import 'filepond/dist/filepond.min.css';`
 ` import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';`
  `registerPlugin(FilePondPluginFileValidateType);`

`    Module not found: Error: Can't resolve 'filepond-plugin-file-validate-type' in '/xxx/src/components'`

A

[2018-04-18 07:51] rikschennink commented on #8
Have you also installed the plugin using npm ? It sounds like it can’t find it.

On 17 Apr 2018, 20:45 +0100, Lunberg88 <notifications@github.com>, wrote:

[2018-04-18 11:34] Lunberg88 commented on #8
Yeah, i installed it via npm
`npm i vue-filepond -S`

[2018-04-18 14:05] rikschennink commented on #8
The plugins need to be installed via npm as well, I’m looking into adding them as dependencies so they’re automatically downloaded.

On 18 Apr 2018, 12:34 +0100, Lunberg88 <notifications@github.com>, wrote:

[2018-04-18 14:36] Lunberg88 commented on #8
Its so strange... Doing all like on docs n have an error...

[2018-04-18 15:05] rikschennink commented on #8
It’s possible that I made a mistake somewhere, if you upload your project somewhere (or make a test case) I’m happy to take a look when I get back from my vacation (~26th of April).

On 18 Apr 2018, 15:36 +0100, Lunberg88 <notifications@github.com>, wrote:

[2018-04-24 15:56] rayax86 opened #9 "Providing attributes in kebab-case as plugin options won't work"
I observed that if this component is written in DOM template, then any attribute (which has to be in kebab-case) passed in as an option to plugins won't be recognised as this component's props, **thus will be not translated to camelCase and hence will be ignored in the core `filepond`**.

I guess the reason is when `import FilePond from 'vue-filepond'` is done, the `props` option has already been

[2018-04-26 11:53] rikschennink commented on #9
@rayax86 I'm not sure what you're getting at, the example in the readme shows to use camelCase not kebab-case. Maybe I'm missing something here?

[code]

[2018-04-26 12:34] rayax86 commented on #9
@rikschennink Thanks for the reply. The DOM template is the initial HTML rendered by the browser. You cannot use camelCase because HTML attributes are case insensitive. If an attribute passed to a Vue component **is recognised as a prop** and is in kebab-case, it will be translated to camelCase. Actually, the use of camelCase attributes is discouraged as per the official style guide: https://vuejs

[2018-04-26 12:56] rikschennink commented on #9
@rayax86 Aha! Thanks, looking into this right now.

[2018-04-26 13:09] rikschennink commented on #9
@rayax86 I've updated the snippet in the readme and am updating the docs, but I can't really reproduce the problem, my test setup does load the additional plugin props correctly.

[2018-04-26 13:12] rikschennink commented on #8
Will close for now as I haven't heard back,

[2018-04-26 13:12] #8 closed

[2018-04-28 19:38] rnunot commented on #9
Here is a demo that shows this issue:
[https://codesandbox.io/s/wy351krxy8](https://codesandbox.io/s/wy351krxy8)

[2018-04-30 00:52] Hellek opened #10 "dropOnPage isn't working"
This code change dropOnPage prop to true, but file dropping isn't working
[code]

[2018-04-30 01:58] rayax86 commented on #9
@rikschennink So let's be sure that we are on the same page: did you set it up using DOM template? That is:

index.html
[code]
source-js.js
[code]

[2018-04-30 05:51] rayax86 commented on #9
@rikschennink In fact, it doesn't matter whether you use DOM template or string template. As long as I don't write the attribute in camelCase, it will not be recognised by the plugins. If you do use string template, you would have the option to write the attribute in camelCase (against the style guide), thus bypassing the problem.

I have given the reason above: props added by plugin registrations

[2018-04-30 07:47] rikschennink commented on #9
@rnunot Thanks for the test case, super useful!

@rayax86 I'm looking at creating a higher order component, I think that should allow me to register the options before the component is actually created.

[code]

[2018-04-30 08:32] rikschennink commented on #9
@rayax86 I see I might have made another error with the name of the component, it needs to be kebab case as well. `<file-pond>` instead of `<FilePond>`

[2018-04-30 08:59] rikschennink commented on #10
Hi! You have to set `:dropOnElement` to `false` to allow dropping on the page.

[2018-04-30 09:19] rikschennink commented on #9
@rnunot @rayax86 just published version `2.0.0` of the FilePond component.

The module now exports a function to create the FilePond component with. Docs and readme have been updated.

[2018-05-01 07:56] rayax86 commented on #9
@rikschennink Can confirm it is fixed.

[2018-05-01 07:57] #9 closed

[2018-05-01 08:31] rikschennink commented on #9
@rayax86 Fantastic, thanks for confirming!

[2018-05-01 11:34] Hellek commented on #10
Oooh. Yep, it works, but not as expected. I thought this option exteds dropzone to whole page.

[2018-05-01 11:34] #10 closed

[2018-05-01 12:10] rikschennink commented on #10
@Hellek Visually there should be no change, but FilePond should catch files dropped outside of the drop area.

[2018-05-01 16:39] Hellek commented on #10
![2018-05-01_19-32-43](https://user-images.githubusercontent.com/7388712/39482196-b60a1892-4d76-11e8-982c-9cae58eea64e.png)
![2018-05-01_19-34-03](https://user-images.githubusercontent.com/7388712/39482197-b62a9b8a-4d76-11e8-9990-c1f4e137d53e.png)
:dropOnPage="" examples on false and on true.
True - forbid attach
False - don't forbid, but dropping outside of dropzone area cause not effect.

Is is

[2018-05-01 17:02] Hellek commented on #10
Problem is solved)
Need to use both props
:dropOnElement="false"
:dropOnPage="true"

In this case works both modes - page drop and dropzone drop

[2018-05-01 17:17] Hellek opened #11 "allowPaste not woking (browser supports paste)"
Short example
`<FilePond :allowPaste="true" />`
Here pressing of "ctrl + v" not cause effect

But here cause
[code]
How can i rethrow event to Pond?

[2018-05-01 22:31] Hellek opened #12 "How to remove successfully loaded files from list?"
Hi! Can you explain how i can do this? I tried to do this for last 4 hours, but it was effortless

1) I can't get name and ID for each loaded file. processfile() just fire that file is loaded (even if file get error for oversize), but i cant get information which of multiple.
2) error() not get information about file which was errored
3) Also i cant find how i can remove file from list (not from s

[2018-05-02 06:14] rikschennink commented on #10
That was what I meant with my first reply 👍

When using multiple drop areas on the same page you need to set `dropOnElement` to true otherwise they will all catch the same files.

[2018-05-02 06:32] rikschennink commented on #12
You can use the "v-on:addfile" or "v-on:error" events to access data on the added or errored file, see the [callbacks list](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#callbacks) to see which parameters are passed.

[code]

[code]

To remove files, Make a `ref` to the pond instance, the example below will remove a file after a file has been added.

[code]

[code]

[2018-05-02 06:47] Lunberg88 opened #13 "Module not found: Error:"
Hi, again. I was been on vocations, so i couldn't answer on your message.

I'm trying to re-install vue-filepond, but have the same issue.

`Module not found: Error: Can't resolve 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js' in '/Applications/AMPPS/www/vue-admin/src/components'`

I'm using vuetify v1.0.16

[2018-05-02 06:52] rikschennink commented on #13
Have you installed the plugin?

[code]

[2018-05-02 06:53] Hellek commented on #11
I tryed it at few, for example at latest Chrome
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36"

Copypaste works at another websites. I guess that FilePond don't see paste event
window.addEventListener('paste', (e) => {});

[2018-05-02 07:03] rikschennink commented on #11
Alright, will look into this later this week.

[2018-05-02 07:08] Lunberg88 commented on #13
Thanks, installed:
`
filepond-plugin-file-validate-type and filepond-plugin-image-preview
`
Now it works fine!

[2018-05-02 07:19] Hellek commented on #12
Arrrrgh, by bad. I define callback func with parentheses
`<file-pond @addfile="handleFilePondAddFile()"></file-pond>`
and method no gets arguments. Your template example works. Tnx
`<file-pond @addfile="handleFilePondAddFile"></file-pond>`

[2018-05-03 06:12] rikschennink commented on #13
Fantastic!

[2018-05-03 06:12] #13 closed

[2018-05-07 08:41] rikschennink commented on #11
@Hellek FilePond does observe the `'paste'` event but pasting of files is ( as far as I can tell ) implemented poorly across browser. These are my test results.

What other website did you test? I truly hope my test results are incorrect and this should work everywhere but I'm afraid native file copy-paste support is simply not there yet.

## MacOS

Firefox
- Might need to give copy paste approval

[2018-05-07 14:01] Hellek commented on #11
I were not right. Paste works at https://vk.com/ just for screenshot from buffer, not for files.
My browser is listening 'paste' event, but don't do anything.
You are right that problem in poor browser support

[2018-05-07 14:01] #11 closed

[2018-05-07 14:05] rikschennink commented on #11
@Hellek Thanks for confirming! Fingers crossed for better future support. 🤞

[2018-05-08 15:21] JoaquimLey opened #14 "Expose interface to use Filepond as a UI element"
Hi there, first of all, thank you so much for the plugin and the wrappers! Really helps!

My request/question is if you are thinking about exposing an interface to handle the UI states of the component.

----------------------------------
For clarification, my use case is using firebase as the backend, so I would like to use the component as a **ui-only** element, it would be great if I could mani

[2018-05-09 06:27] rikschennink commented on #14
@JoaquimLey Hi! Thanks! Glad you like it :-)

I currently have no plans to detach the UI from the file processing, it's rather tightly coupled at the moment and detaching it would take considerable effort. There's also the matter of animation timing where state changes happen based on the various interactions and file states, for instance, some will be queued till the interface is in idle state to

[2018-05-09 06:30] #14 closed

[2018-05-09 06:31] rikschennink commented on #14
@JoaquimLey I forgot to thank you for the detailed and well thought out issue description, it's very much appreciated.

[2018-05-09 10:25] JoaquimLey opened #15 "Custom server config example"
Expanding on #14 I would like to know if it is possible to have our own custom methods to handle server callbacks, I'm using [Firebase](https://firebase.google.com) as a DB/Backend and although it is abstracted, I'm using their own implementation, to make it a little more simple to understand, I want to upload a photo to an album, and this is the flow:

    // This dude makes the actual upload  //

[2018-05-09 10:28] JoaquimLey commented on #14
Thank you for the very detailed response, I've now opened the new issue, hopefully, it is still possible to find a good enough solution :).

You are very welcome! It is the least I can do, by asking for your generous time, I don't want you to try and guess what my issue is hehe 💪.

[2018-05-09 10:46] jamesblasco commented on #15
this is what I have been doing so far and for the time being it is working

[code]

And i call it like this
[code]

[2018-05-09 10:50] JoaquimLey commented on #15
Thanks, @jamesblasco I will look into this later today and get back to it!

[2018-05-10 09:48] JoaquimLey commented on #15
Hello @jamesblasco,
Thank you so much for giving this awesome example! I copy pasted most of the code and adapted, and it does work 🎉

But now I have a _new_ issue, it only works once 🤔, after the first upload, for some reason when I add more items, nothing happens :(

Have you encountered this issue?

[2018-05-11 07:25] rikschennink commented on #15
@JoaquimLey If I understand correctly when adding multiple files, only one of them will upload?

Can't say I spot something odd right away. I assume no errors are thrown?

Is the `progressCallback` going from 0 to 1? Or is it a function? That would be weird, but I'm just checking :-)

[code]

[2018-05-11 14:02] rikschennink commented on #15
@JoaquimLey I guess that makes it a value from `0` to `100`, not sure if it will fix it but I think the `* 100` can be removed.

[2018-05-11 18:35] JoaquimLey commented on #15
Hi there @rikschennink, thanks for taking the time

I've removed the `* 100`

From the `DatabaseManager` my _progressCallback_ is called like this:

[code]

And ont he ui component:

[code]

Looking at the UI and the logs, everything seems fine on the progress value side, goes from _0_ to _100_ value-wise and correctly reflects the _%_.

But the issue still remains the same, is this something rela

[2018-05-11 22:10] jamesblasco commented on #15
Hi, yes, indeed the same problem happens to me. Unfortunately I can not spend time these next days I'm sorry. As soon as I can, I'll take a look

[2018-05-12 05:16] rikschennink commented on #15
As I now have the complete code I’ll run some tests on Monday.

On 12 May 2018, 00:10 +0200, jamesblasco <notifications@github.com>, wrote:

[2018-05-12 13:16] JoaquimLey commented on #15
Looking forward to your help, but I would like to thank you both for taking the time and effort to help me out, @jamesblasco @rikschennink 👏🙏.

To clear up, yes there are no errors being thrown, I've deployed the latest code with the logs here:
- https://photobook-1337.firebaseapp.com

There is only the ability to upload photos, so "removing" them from the component is just a UI :)

[2018-05-14 08:13] rikschennink commented on #15
@JoaquimLey @jamesblasco Alright, I know what's happening but I don't know why it's happening.

FilePond will wait with file uploads till there are no more animations running ( this to ensure heavy processing of files, resizing, cropping, does not block animations ). Somehow it thinks that animations are still active and therefore it will not pick-up the newly dropped files. When the finished file

[2018-05-14 08:45] rikschennink commented on #15
@JoaquimLey These event listeners should be prepended with `@` or `v-on:` instead of `:`, I'm not sure if it makes a difference ( it doesn't in my test environment, but the generated HTML looks a bit  weird when using `:` ).

[code]

[2018-05-14 08:46] rikschennink commented on #15
@JoaquimLey Can you remove the try-catch so we can see if there's an error being thrown?

[2018-05-14 08:51] rikschennink commented on #15
@JoaquimLey @jamesblasco Quick update. I've managed to reproduce the problem on my local dev environment. It has to do with the `progress` callback.

[2018-05-14 10:13] rikschennink commented on #15
@JoaquimLey @jamesblasco Turns out something was up with the logic that detected the idle state, working on a fix.

[2018-05-14 10:15] rikschennink commented on #15
Just published version `1.4.1` of FilePond, should fix the issue.

[2018-05-14 13:51] JoaquimLey commented on #15
@rikschennink seriously, I really appreciate the effort you've been putting into maintaining the component.

Once I launch this website you can expect some support from me 100% 👍

Will pull the latest version and check it works, I glad that somehow it help catch a bug ;), also good suggestion, should remove that `try` and force an error to be thrown

[2018-05-14 14:20] rikschennink commented on #15
No problem @JoaquimLey ! I'm committed to making FilePond an amazingly flexible and robust file upload component, so I'm happy you choose to use it in your project even though it's a relatively young project.

[2018-05-15 06:15] JoaquimLey commented on #15
Made it work! Thanks, @rikschennink I'm sure happy with your component, just testing if this will scale since I want so much custom stuff from it.

Now I only have some small issues, like custom error messages showing up etc. but I think we a little bit of digging I can get there :)

![xcss2rq](https://user-images.githubusercontent.com/6922748/40039811-293f3774-5818-11e8-9ff6-c1ea0e772674.gif)

[2018-05-15 06:41] rikschennink commented on #15
Fantastic! Glad to hear that @JoaquimLey 🚀

[2018-05-15 06:41] rikschennink commented on #15
As the original issue has been resolved I'll close it. Do let me know if I can be of further assistance!

[2018-05-15 06:41] #15 closed

[2018-05-16 18:11] rikschennink commented on #8
@Hellek I'm testing this with `vue-cli` and it functions correctly whether I link directly to the `.esm` version or not.

[code]

[2018-05-16 22:45] Hellek commented on #8
Definition of **RelatedFiles component**
[code]

If i include **RelatedFiles component** inside another component syncronous - there is no error
[code]
This variant not cause webpack error, but file type check still not working. It's like just not exists

[2018-05-17 05:44] rikschennink commented on #8
@Hellek The way the new Vue adapter component loads the plugins ( dynamically constructing the FilePond component ) is because otherwise the plugins might not load correctly. Best to switch.

[2018-05-17 21:08] Hellek commented on #8
You mean "not include FilePond component and it's parents async"?

[2018-05-18 06:13] rikschennink commented on #8
Should work async as well, but I do not have any experience with that. The best thing is to update to the latest version and test with that.

[2018-05-20 06:41] Pitu opened #16 "Is it possible to have per file methods after upload?"
First of all, thanks for such a silky smooth file upload, it's great!

After finding filepond I started a little migration process from what I had to filepond, but I'm facing a challenge right now. In my case, when a file is successfully uploaded I return an object from the API that contains a full url to that file the user just uploaded. So is there any way to read that response and be able to ad

[2018-05-20 14:10] rikschennink commented on #16
@Pitu Aw thanks, glad to hear that :D

The most recent version of filepond adds an `onload` method to the `process` property of the `server` [configuration](https://pqina.nl/filepond/docs/patterns/api/server/#configuration). This allows parsing the server response and selecting the property/value you want to use as the unique file identifier ( stored in the file item `serverId` property ). I think

[2018-05-20 21:56] Pitu commented on #16
Awesome! This helps greatly. Thank you!

[2018-05-20 21:56] #16 closed

[2018-05-21 14:58] novikov-alexander opened #17 "Can't load vue-filepond via SystemJS"
I tried to load .js and .esm.js files.

In the 1st case I have an error "exports is not defined"
In the 2nd case I have an error "Unable to dynamically transpile ES module.  A loader plugin needs to be configured via `SystemJS.config"

[2018-05-22 06:56] rikschennink commented on #17
Hi @novikov-alexander! Unfortunately, I'm not very familiar with SystemJS, I did search around a bit and this sounds very similar to this issue on the Vue repo, can you check if that solves the problem?
https://github.com/vuejs/vue/issues/6815

[2018-05-22 12:27] novikov-alexander commented on #17
Hi @rikschennink!
Unfortunately, I use right config for TypeScript compiler. Now I'm trying to recompile vue-filepond via babeljs with umd plugin.

[2018-05-23 16:28] novikov-alexander opened #18 "Binding to "files" variable doesn't updates after file upload""
I've created a component with this bindings:
[code]
But v-for doesn't work because "myfiles" doesn't update

[2018-05-23 18:20] rikschennink commented on #18
Hi @novikov-alexander the `files` binding is currently only for programmatically adding initial files, or updating the current file set, it doesn't (currently) reflect the state of loaded (dropped) files.

I'll see if I can add this in a future release ( pull requests are also welcome ) as it would be a very useful feature to have.

[2018-05-25 14:15] rikschennink commented on #17
@novikov-alexander I'll await your results.

[2018-05-28 14:05] sosoriov opened #19 "Multiple file transfer stops using Drag and Drop operation"
I have implemented filepond component with the server option included. In my case i need to allow the user to upload multiple files, If i use the browse file system everything works as it should but if i use the drag and drop operation the plugin only transfer 1 file and then stops.

see below:
https://www.screencast.com/t/NUt3NgZr

[2018-05-28 14:15] sosoriov commented on #19
mmm aparently sometimes it also fails with the browse option :cry:

[2018-05-28 14:38] rikschennink commented on #19
@sosoriov This sounds very similar to this issue: https://github.com/pqina/vue-filepond/issues/15

I had not updated the filepond dependency version, just updated it to the newest version `1.6.0`, should fix the issue.

[2018-05-28 14:43] AMontagu opened #20 "Get error message on file-pond handler [vue.js]"
Hello !

Thanks for the amazing library !

I wonder how to get the error response send by the server on filepond.

[code]

[code]

Send everything good to a node express server with multer but I have some custom check that return errors. like this:

[code]

But on the console print for error variable is :

[code]

And status is only the displayed text that we can configure.

So how can I get my cu

[2018-05-28 15:52] sosoriov commented on #19
@rikschennink damn it! still not working :S

[2018-05-28 16:21] rikschennink commented on #19
Do you have a public test case? Happy to take a look.

[2018-05-28 20:29] rikschennink commented on #20
Hi @AMontagu can you also post your `serverOptions`, I'm looking to see if this can be solved with the current way FilePond is set up or if I need to add additional configuration options.

[2018-05-28 20:41] AMontagu commented on #20
Hi @rikschennink

my serverOptions:

[code]

onLoadFile methods only print in console so nothing important inside

[2018-05-29 08:47] rikschennink commented on #20
@AMontagu I just published version `1.7.0` of FilePond and added the `onerror` callback, you can use it to parse a server error response and select the value you need in the `body`.

I think this should do it:

[code]

[2018-05-29 09:50] AMontagu commented on #20
Thank you @rikschennink. It's working !

Just an idea of improvement: Can you send to filePondError callback an error like this:
[code]

Where data field is by default `res` and that we can update with `onerror` callback  return value ?

[2018-05-29 11:14] rikschennink commented on #20
@AMontagu Might be a good idea. I'm going to look into it. Will close this for now as the original issue has been resolved.

[2018-05-29 11:14] #20 closed

[2018-05-29 12:43] sosoriov commented on #19
@rikschennink  I found out that my backend was blocking the reponse for some reason. I made some changes in my code and now it's working

[2018-05-29 12:43] #19 closed

[2018-05-29 12:50] rikschennink commented on #19
@sosoriov Aha! Glad to hear that was the problem, thanks for letting me know!

[2018-05-29 13:05] novikov-alexander commented on #17
@rikschennink I did that I promised. Also I've added this string manually to the beginning of the file
`        define("vue-filepond",['exports', 'vue', 'filepond'], factory);
`
because initial string after compilation was
`
        define(['exports', 'vue', 'filepond'], factory);
`

It works for me but I'm really bad in JS modules to make correct pull request.

[2018-05-29 13:10] novikov-alexander commented on #18
Hi @rikschennink
I made this workaround for the problem:

`
export default Vue.extend({
    template: '#dataloader-template',
    data() {
        return {
            myFiles: [],
            uploadedFiles: []
        };
    },
    methods: {
        handleFilePondInit: function () {
            console.log('FilePond has initialized');
        },
        handleFilePondProcessfile: function (error

[2018-05-29 13:49] rikschennink commented on #17
@novikov-alexander I did a quick search, it seems that this might be a configuration issue outside of SystemJS (gulp?).
https://github.com/systemjs/systemjs/issues/995

[Anonymous modules are preferred over named modules](https://stackoverflow.com/questions/19720646/named-module-vs-unnamed-module-in-requirejs) so I prefer to leave out the name.

[2018-05-29 13:50] rikschennink commented on #18
@novikov-alexander Awesome! I'll definitely test this later this week.

[2018-05-30 15:25] skayablars commented on #18
That will be an awesome functionality, in my case I don't want to make automatic updates to the server and having a lot of refs can be a hassle. This will simplify getting the files 💯

[2018-05-30 19:10] skayablars opened #21 "Can't map types to labels in the file type validation plugin"
After installing the plugin FilepondPluginFileValidateType, I try to use the specified in [the properties](https://pqina.nl/filepond/docs/patterns/plugins/file-validate-type/#properties), but I get an error.

**Error**: `Right-hand side of 'instanceof' is not an object`.
Replicate: Install the plugin FilepondPluginFileValidateType then try to map the mime to a label, it will throw the error.

` :f

[2018-05-31 12:28] rikschennink commented on #21
There's currently no value mapper for object parameters. ( I have to add that to the core ).

For now, you can pass this value to the ref directly. It's not the most beautiful way to this but it'll work. You can do this in the `on:init`.

[code]

[2018-05-31 12:59] rikschennink commented on #21
Just published version `1.7.1` of filepond, should fix the issue.

[2018-06-04 10:16] GhostNr1 opened #22 "Can't set filepond options when creating component"
In the vue-fileponds we can only create the component. There would be good to export var _filepond = require('filepond'); so we can set values globaly on filepond as the documentation say https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-options but what I can see we can't do that now. We can only add in plugins but can't set any values when we create this in our main vue file.

[2018-06-04 12:39] rikschennink commented on #22
Just published version `2.1.0` you can now import the `setOptions` method. Best to set these before doing anything else.

[code]

[2018-06-05 06:32] GhostNr1 commented on #22
Thanks for the fast work on our issue. I have tried to do it like this
`// Create FilePond component
const FilePond = vueFilePond(FilepondPluginFileValidateType, FilepondPluginFileValidateSize, FilepondPluginFileEncode)
setOptions({
  server: {
    url: 'http://localhost:3000'
  }
})`
I have also tried to set the setOptions before const FilePond but it dosn't set the server location when I do the

[2018-06-05 06:53] rikschennink commented on #22
Try it like this:

[code]

Now you don't have to set the server here.

[code]

[2018-06-07 13:46] indyo opened #23 "Error when closing a component with FilePond"
I get the following error:

[code]

which points to line 172 of vue-filepond.js (2.1.0)

[code]

I do not know yet whether the use of Vuetify and a fullscreen dialog is relevant. I will now try vue-filepond on a regular Vue component and see if the same error happens.

Thanks for the wonderful job!

[2018-06-07 14:18] rikschennink commented on #23
Hi! Thanks!

I wonder if this is in a specific browser?

[2018-06-07 14:22] indyo commented on #23
Upon closer inspection it does look like a bug to me. Doesn't [].findIndex() expect a function predicate? I'm thinking it should be

[code]

However it appears this._pond.id is always null. Do correct me if I'm wrong.

[2018-06-07 14:28] indyo commented on #23
Awesome! Thanks! 👍

And yeah, should be an arrow function LOL

[2018-06-07 14:30] rikschennink commented on #23
@indyo Just published version `2.1.1`, should fix it, please confirm :-)

[2018-06-07 14:33] indyo commented on #23
Works perfect! Thanks again.

[2018-06-07 14:39] rikschennink commented on #23
Fantastic. I'll close the issue then.

[2018-06-07 14:39] #23 closed

[2018-06-08 09:44] Pixelairport opened #24 "Cant get base64 string"
After six hours testing, i dont get it work so i try to ask here. I use vue version of filepond with encoding. After event addfile is fired i want to get the base64 string, but i just don get it. This is my code:

pond.addEventListener('FilePond:addfile', function(e) {
  console.log(e);
});

The base64 string is found in my html. But how do i get the code to use it later when i send the form? Hope

[2018-06-08 10:14] rikschennink commented on #24
Hi,

If you want to send it with the form automatically you don't have to do anything, it's added to a hidden input and it'll be sent along with the parent form when posted ( classic form submit ).

If you're planning to send the form by building a `FormData` object and using `XMLHttpRequest` you don't need the base64 encoded files and you can simply add the file objects ( contained in the FilePon

[2018-06-09 14:07] Pixelairport commented on #24
Thx @rikschennink that helps a lot. On my submit function i now have

`console.log(this.$refs.pond.getFiles());`

and I think this could work, if i would not get this error:

`Exception: TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them at Function.remoteFunction (<anonymous>:2:14)
`

I use Laravel with

[2018-06-10 08:39] rikschennink commented on #24
@Pixelairport This should work, I'm not sure why it throws this error, have some time to look at this on Tuesday.

[2018-06-10 09:14] Pixelairport commented on #24
thx for your help. i will also have a look at this tomorrow. if i find something i will write again.

[2018-06-11 14:49] Pixelairport commented on #24
I setup a clean laravel (with cartalyst platform) and create a vue component for the filepond. The problem still exists. I have no idea what i can do now. Maybe someone has a tip? This is my code:

`<template>
    <div id="app">

        <file-pond
                name="test"
                ref="pond"
                label-idle="Drop files here..."
                allow-multiple="true"

[2018-06-12 08:20] rikschennink commented on #24
It's very odd, tried to reproduce this but when I run the exact code with Vue-CLI it works perfectly well.

None of the properties ( `.caller`, `.callee` or `.arguments` ) are accessed in FilePond's code.

I've found this issue which might be related:
https://github.com/VincentGarreau/particles.js/issues/123

Can you create a public test case? Happy to take a look.

[2018-06-12 13:14] rikschennink commented on #8
Thanks for the update @Hellek

[2018-06-13 14:30] Hellek commented on #12
I found out that this variant works not ax expected.

Error reproduce:
1. Making an 10 files upload.
2. When first files are uploaded some of last files stoping with error.
3. Cause `this.$refs.pond.removeFile()` executes for all files in the list - not just for each successfully loaded file

My code
[code]

[2018-06-13 17:47] rikschennink commented on #12
@Hellek `removeFile` without parameters removes the first file in the files list, [see docs](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#removing-files). Better to pass the id of the file.

[code]

[2018-06-13 18:18] Hellek commented on #12
Yep, that's it. I'm looking for tomething like ID. My bad, don't found it at docs. Thanks!

[2018-06-13 18:41] Hellek commented on #12
It's solve problem, but partly. Before delete file from filepond i add filename to another list (of loaded files).
[code]
And sometime it still produce an error
[code]

this.files.push(file.filename) goes before deletion, and that's strange...
I suppose I can solve it with this.$nextTick() - but it's not right way

[2018-06-14 07:14] rikschennink commented on #12
Is it possible that an error is thrown and the file item object is not there? Does it throw the same error without the remove File statement?

[2018-06-14 09:57] Hellek commented on #12
1) It make a test - error ocures certainly here.
2) There is no error in this two cases:
[code]
2.1)
`this.files.push(file.filename)`
2.2)
[code]
3) There is error in this cases
3.1) Just for one file (if i load alot of them)
[code]
3.2) For few files
[code]

[2018-06-14 10:37] rikschennink commented on #12
It's probably because the `DID_COMPLETE_ITEM_PROCESSING` flow hasn't finished yet. By removing in the next tick it ensures FilePond is done with the file. I'll see if I can make these events asynchronous so you can be certain that file FilePond is done.

[2018-06-14 12:41] Hellek commented on #12
How it can be unfinished if "handleFileUpload" callback on @processfile.
If i understand docs right, @processfile calls when item processing is complete.

Anyway, i don't understand how it can be, no matter "this.$refs.pond.removeFile(file.id)" sync or async, it calls after "this.files.push(file.filename)".

I csn just guess, that object which comes to callback function "handleFileUpload(error, fi

[2018-06-15 09:40] Hellek commented on #12
@rikschennink yep, you are right. This error throws inside filepond code. I removed my part `this.files.push(file.filename)` where i trying to get "filename" property, and error not vanished.

Is filepond has an event, which mean "file upload is completely done"? Cause as we found out @processfile not mean that all actions are finished.

[2018-06-15 09:47] rikschennink commented on #12
I'll see if I can fix this by throwing the `processfile` event a tiny bit later

[2018-06-18 13:07] rikschennink commented on #12
Just published version `1.7.3`, FilePond events are now async, in my tests, this seems to solve the issue.

[2018-06-18 13:07] #12 closed

[2018-06-18 13:39] Hellek commented on #12
@rikschennink I load 1.7.3 manually tried to reproduce that error. For now it isn't. Looks that it works fine without this.nextTick(). Hoping that this not get back again 😃

[2018-06-19 09:57] #22 closed

[2018-06-19 09:57] #17 closed

[2018-06-19 10:11] novikov-alexander commented on #17
I've moved to NodeJS + WebPack and the problem is gone away :-D

[2018-06-20 15:34] skayablars commented on #24
In my case, I want to construct my own form with the base64 strings as per a requirement. So I create a wrapper around vue filepond, you can see it and modify it for your own purpose.

How to use it

`<file-upload ref="plata" label="Photos"  v-model="files"></file-upload>`

FileUpload.vue
[code]

[2018-06-20 17:58] skayablars opened #25 "Removefile is async?"
**Problem:** I have a wrapper with the filepond component after somebody removes an image I want to update a data property.  So I have a listener on removefile and call a function that check the dom for any input element but after I remove the image the element stays there, my solution is to wait some seconds and then read the document but I think that this function should be emitted when the inpu

[2018-06-21 05:49] rikschennink commented on #25
Can you try with version `1.8.0` of FilePond? It contains some changes that make the events async.

[2018-06-21 07:37] BiYuqi opened #26 "vue-filepond not support headers ? how to use it?"
[code]

[2018-06-21 08:04] rikschennink commented on #26
[code]

For more information see:
https://pqina.nl/filepond/docs/patterns/api/server/#configuration

[2018-06-21 08:04] #26 closed

[2018-06-21 09:00] BiYuqi opened #27 "What is the name of the event after successful upload? How do I get the file returned after upload？"

[2018-06-21 09:21] rikschennink commented on #27
https://pqina.nl/filepond/docs/

[2018-06-21 09:21] #27 closed

[2018-06-22 09:23] Pixelairport commented on #24
Thx. But when i output the input.value the value is empty...

...
validity:ValidityState {valueMissing: false, typeMismatch: false, patternMismatch: false, tooLong: false, tooShort: false, …}
value:""
...

And when i have a look with console.log at the __proto__ Array i also get in every function which is show the error:

Exception: TypeError: 'caller', 'callee', and 'arguments' properties may not

[2018-06-22 11:41] Hellek commented on #25
@rikschennink can you update vue-filepond package.json? For
[code]
For now it 1.7.* and old problems fixing can be solved just manually

[2018-06-22 12:18] rikschennink commented on #25
@Hellek done!

[2018-06-22 12:18] #25 closed

[2018-06-22 15:33] skayablars commented on #25
Hi, I updated all filepond and vuefilepond dependencies. However when the removedfiles event has emitted the fieldset with the image still exists.

[2018-06-22 18:38] Hellek commented on #25
@skayablars Can you show an example of your component code?

@rikschennink rick, I observe that you include "filepond-master" to vue-filepond by including node_modules subfolder, is it temporary solution?
I asking cause there was some hardcode changes for styles
from `import 'filepond/dist/filepond.min.css';`
to `import 'vue-filepond/node_modules/filepond/dist/filepond.min.css';`

[2018-06-22 19:15] rikschennink commented on #25
@skayablars it’s possible that the elements are still there for a short moment as they animate out of view. What are you doing with them?

@Hellek I’m not sure what you mean? I’ve only upped the version number in the package.json file :-)

[2018-06-23 17:10] Hellek commented on #25
@rikschennink problem is solved my manual deleting of vue-filepond package + "npm update". The issue was that filepond was located at node_modules -> which was inside vue-filepond folder like this `vue-filepond/node_modules/filepond`
After deletion and update structure of packages as must be)

[2018-06-24 14:49] davutkara opened #28 "Working with server for filename"
Hi, I want to control the name of file, first when file added I asked server for appropriate name then I use rename plugin, but plugin callback function can't get the value from promise.

[code]
When I use this funciton file name is like Object Promise

I tried a lot of different way.

![image](https://user-images.githubusercontent.com/10008440/41820269-c4771782-77d7-11e8-9a39-1d45bd7eade1.png)

[2018-06-24 15:28] davutkara commented on #28
Function directly cast the return value to string. I am really confused :)

[2018-06-25 06:16] rikschennink commented on #28
@davutkara It expects a synchronous function, you'll have to return a string ( you're returning a Promise and it'll just turn that into a string instead ).

[2018-06-25 09:16] rikschennink commented on #28
@davutkara You could use a custom process method instead?

[2018-07-01 15:55] Pixelairport commented on #24
Thx for your help. I switched to https://github.com/rowanwins/vue-dropzone. I think its a setting problem with my environment. But it cant spend more time with the problem. thx for helping.

[2018-07-02 06:21] rikschennink commented on #24
@Pixelairport Alright, glad to hear you found another fitting solution for your project!

If you can spare the time, could you point me in the right direction so I can replicate your project set up on my dev machine? Maybe there's an article you followed to set up Vue with Webpack?

[2018-07-03 12:18] kakank opened #29 "When addFile method is called with remote url, its fails getting the file size."
Hello Filepond Guru!

I'm trying load a image previous uploaded image but the filepond fails getting the file size.  I am using firebase storage but i was able reproduce the error in more simple example.

### How to reproduce
[code]
[code]
### Error
![image](https://user-images.githubusercontent.com/40795063/42219164-32361b34-7ecb-11e8-835e-8077ba4e474d.png)

### Expected behaviour
Add the image t

[2018-07-03 12:43] rikschennink commented on #29
Hi!

It's possible that the remove server does not allow cross domain requets. You'd have to set the correct CORS headers to load images from remote domain. If this is the problem there should be an error in your web inspector network tab.

[2018-07-05 08:16] #28 closed

[2018-07-11 20:54] jaydenrsoni opened #31 "Server and server url prop do not respond to changes"
### Summary
Thanks for a great component!

I am trying to restrict the ability to upload until a certain state is reached by initializing the server url prop to '', and later setting it to the actual server url. However, the FilePond instance still uses the blank url when processFile() is called.

Alternatively, is there a better way to restrict the ability to upload based on state? (preferably wi

[2018-07-11 21:27] jaydenrsoni opened #32 "Minor documentation error?"
Not sure if this is the best place to note this, but I think the "processfileundo" is actually referenced by "processfilerevert" at least from a Vue context. That, or I'm misunderstanding the description--but "processfilerevert" is a working event that is not noted!

![image](https://user-images.githubusercontent.com/36484717/42600238-793107d2-8516-11e8-9dde-0e7f763ed046.png)

![image](https://use

[2018-07-11 22:56] jaydenrsoni opened #33 "Removing the revert UI"
### Summary
Is it possible to get this "undo"/"revert" UI option to disappear? I have tried setting the `revert` endpoint to `null`, but that only restricts the functionality, not the appearance of the component. I have been able to remove the icon and labels setting the `iconUndo`, `labelTapToUndo` and `labelButtonUndoItemProcessing` props to empty strings, but I can't get rid of the clickable da

[2018-07-12 06:57] rikschennink commented on #31
I'm not sure how you're setting the server object, and maybe you're already doing this, but can you try overwriting the entire server property instead of only the url?

`server = { url:'new-url' }` instead of `server.url = 'new-url'`

[2018-07-12 06:59] rikschennink commented on #32
Yea it should be `"processfilerevert"`, please feel free to submit a PR here:
https://github.com/pqina/filepond-docs

[2018-07-12 06:59] #32 closed

[2018-07-12 07:07] rikschennink commented on #33
Setting `allowRevert` to `false` should do the trick.

[2018-07-12 07:23] rikschennink commented on #31
Reading the issue again I think it would be better if I add something like a `allowProcess` property that toggles the upload button. That way you could enable it when you're ready. Would still require the above server update suggestion to work though.

[2018-07-12 19:52] jaydenrsoni commented on #33
Ah. Didn't see that, but that did the trick. Thanks so much!

[2018-07-12 19:52] #33 closed

[2018-07-12 20:05] jaydenrsoni commented on #31
Setting the whole server property instead of just the url works! Thanks for the tip!

[2018-07-12 20:17] jaydenrsoni commented on #31
An allowProcess property would also be helpful. From my understanding, that functionality can currently be achieved through setting the server "process" property to null, but an explicit property similar to "allowRevert" to control the UI display separately from the functionality may be helpful for some users. For me, the current setup will work just fine! Thanks again for your notes!

[2018-07-12 20:22] jaydenrsoni commented on #31
Actually, upon looking at things again, setting the "process" property to null doesn't quite do what I'm looking for. Seeing as my initial issue has been solved though, I'll open a new request.

[2018-07-12 20:36] jaydenrsoni opened #34 "Feature Request: allowProcess property"
### Summary
I would like the ability to toggle the presence of an upload button, similar to the allowRevert property.

![image](https://user-images.githubusercontent.com/36484717/42657439-0349e0ae-85d7-11e8-8f39-205ffcd55a89.png)

Currently the above display can be achieved by setting the "server.process" property to null, but this also gets rid of the ability to remove files. If possible, I would

[2018-07-13 06:04] rikschennink commented on #31
Will close this one and add `allowProcess` to the roadmap.

[2018-07-13 06:06] rikschennink commented on #34
Will look into this, it shouldn't hide the remove button, so seems to be a bug.

[2018-07-13 16:57] jaydenrsoni commented on #34
In the new version, when I set "server.process" to null and "server.url" to the url of my external api, the upload button is now still visible, and when I click on it I get the following behavior:

![image](https://user-images.githubusercontent.com/36484717/42703173-9746f98c-8680-11e8-98eb-48aab0d7fc4d.png)

The undo/cancel operation does not work from this state, and from what I can tell, the com

[2018-07-13 22:16] jaydenrsoni commented on #34
Update: advanced server configuration has done the trick for me. You're (obviously) still welcome to introduce any new functionality you'd like, but my applications working as desired! Feel free to close this issue--sorry for flip-flopping so much. Thanks again for your time and attention, as well as for designing and maintaining such a helpful component!

[2018-07-15 08:56] jdriesen opened #35 "Showing Image when component is Loaded"
Hi All,

First of all, congratz to the devs of this component !
It's really GREAT.

I've a small question about "showing an image when component is loaded"

Please take a look at the https://pqina.nl/filepond/#examples page
More in particular...  the "Profile Picture Selection" page.

This assumes there is NO picture selected when the page loads...
But suppose there IS already a picture available

[2018-07-16 06:30] rikschennink commented on #35
Hi Johnny! You're most welcome, thanks for using FilePond for one of your projects.

You'll have to add the [FilePond Image Preview plugin](https://github.com/pqina/filepond-plugin-image-preview), then you can use the `files` property to set the initial file. The Image Preview plugin should automatically pick it up and show the image, you will have to set up a `load` end-point in the `server` prop

[2018-07-16 06:35] rikschennink commented on #34
Alright, thanks for letting me know, will close this one for now.

[2018-07-16 06:35] #34 closed

[2018-07-20 14:14] mandaputtra opened #36 "How to upload to local strorage using sqlite?"
I got a problem when uploading to local storage(online storage works fine), i cant figure it out how i do that since i'm not developing on web, but i use electron (desktop) instead.

Is there any server configuration that i could do to save files locally?  or how i should do that?

Thanks,

*I know this not an issue, tbh I'm still not sure about posting this, I'm feeling doubtful, and maybe this r

[2018-07-20 20:08] rikschennink commented on #36
Hey! No worries excellent and interesting issue, love to learn about various stacks FilePond is used in.

What I’m wondering is if SQLite can store file objects?

[2018-07-21 15:00] fbruffaert commented on #21
I just encountered this issue on vue-filepond 2.1.6 & filepond 1.8.8
No problem when passing the map on the ref directly.

[2018-07-22 19:20] rikschennink commented on #36
I think you can set up [a custom processing method](https://pqina.nl/filepond/docs/patterns/api/server/#advanced), FilePond will send the file that needs to be processed there and you can then store it wherever you like and return a unique id. No need to use a server.

You can then also set up a custom load method to restore files from the system.

[2018-07-22 19:21] rikschennink commented on #21
@fbruffaert Do you have a code sample?

[2018-07-23 08:54] #35 closed

[2018-08-06 09:09] cherniavsky94w commented on #4
Hi, can you send config exmpl for nuxt?

[2018-08-06 10:46] #36 closed

[2018-08-10 09:04] cherniavsky94w opened #37 "Set id from response"
How can I add file name and set id from **onload**
[code]
onResponse
[code]
How set id for revert and how call revert for get deleted id?

**Thanks!**

[2018-08-10 09:47] cherniavsky94w commented on #37
@rikschennink thanks!

[2018-08-10 10:19] #37 closed

[2018-08-14 15:10] shouryaps opened #38 "Plugins are active in multiple vue components, even though used in only one component when accessed via router-link"
First of all, I would like to thank you for this awesome library :smile:

I'm facing issues with resize and crop plugins with vue-filepond. I have two Vue component files with file-pond component. One with these plugins and one without these two plugins. Everything works well if i access Vue components directly through URL, that is loading the whole page. But through vue route-link if I navigate t

[2018-08-14 15:35] rikschennink commented on #38
Hi! Thanks for using FilePond!

Internally the plugins are registered to the FilePond core and then are automatically made available everywhere (which is what happens in the `vueFilePond` function), for the vanilla JavaScript version this made sense but for the Vue version not so much.

I think the best solution (not the most beautiful) for now is to manually disable the plugins.

An update to the

[2018-08-14 16:08] shouryaps commented on #38
Okay, got it. thanks. This fixed the issue.

[2018-08-14 16:08] #38 closed

[2018-08-19 15:55] mattrothenberg opened #39 "accepted-file-types prop doesn't work"
### Summary
I've noticed that when using the `accepted-file-types` prop, the resulting `<input type="file">` does not have an `accept` attribute that reflects what was passed through via the prop.

### How to reproduce
[code]
### Expected behaviour
[code]
See: https://codepen.io/rikschennink/pen/EQOLYe

### Additional information
Interestingly enough, it looks like the parent-most `div` rendered b

[2018-08-21 11:33] rikschennink commented on #39
Have you registered the file-validate-type plugin?

[2018-08-21 11:49] mattrothenberg commented on #39
Nope, but that should do it. Thanks!

I'd be more explicit about this in the documentation. While the readme does state that plugins need to be installed separately, your sample Vue code, which comes above the plugin disclaimer, makes it look like `accepted-file-types` comes out of the box with this library.

[code]
[code]

[2018-08-21 12:15] rikschennink commented on #39
Good point, will update the docs.

[2018-08-21 12:15] #39 closed

[2018-08-24 17:41] DTX-92 opened #40 "File type validation doesn't work"
### Summary
[code]

![image](https://user-images.githubusercontent.com/20479161/44599052-b4ef6900-a7dd-11e8-89f0-455a5419e4c5.png)

As you can see filter applies correct, but if try to upload mp3 file, it throws error about incorrect type.

| Environment  | Version
|------------- | -----------
| OS           | Windows 10
| Browser      | Google Chrome 68.0.3440.106

[2018-08-25 10:47] rikschennink commented on #40
Are you sure the mime type is correct. You can drop a file on the file input on this page and it'll show you the mime type:
https://codepen.io/rikschennink/pen/NzRvbj

[2018-08-25 10:56] Konafets commented on #22
@rikschennink This does not seems to work.

I need to inject the CSRF Token to the request and have tried this first with plain FilePond

[code]
which worked. Then I switched to the vue component but the csrf token is not included in the request.

Here is my code:

[code]

Do you have any idea?

[2018-08-25 11:02] rikschennink commented on #22
@Konafets If you put a `console.log($('input[name="_token"]').val())` before the `setOptions` statement, does it log the token?

[2018-08-25 13:15] Konafets commented on #22
@rikschennink Yes, it does. The `X-CSRF-Token` is not present in the request.

[2018-08-25 14:04] rikschennink commented on #22
Okay, I notice the url property is missing, does adding it make any difference or is it just the example snippet. (So I know what to test on Monday morning :-))

[2018-08-25 14:48] DTX-92 commented on #40
Okay, it was audio/mp3. I thought audio/mpeg is all about mp3.. Thanks!

[2018-08-25 14:48] #40 closed

[2018-08-25 15:33] DTX-92 opened #41 "Is it possible to change error message?"
![image](https://user-images.githubusercontent.com/20479161/44619917-03ac0a00-a895-11e8-8378-80108bb691a4.png)

I tried to change onerror in server options but it didnt work:
[code]

| Environment  | Version
|------------- | -----------
| OS           | Windows 10
| Browser      | Google Chrome 68.0.3440.106

[2018-08-26 10:36] rikschennink commented on #22
Alright great!

It does merge options but not only at the top level (so no deep merge). In your situation `"/files/upload"` would then overwrite the earlier server config with the default options.

[2018-08-26 11:15] rikschennink commented on #41
Currently, there's no way to send the server error message or anything dynamic towards the error message in the file item.  The `onerror` data is however accessible in the processfile error event.

I'm working on a solution. Ideally, the server response would not be directly placed in the file. For instance, on a multi-language site, you might want to present the error in a different language than

[2018-08-26 21:25] DTX-92 commented on #41
I cant find error message In the processfille error event:
![image](https://user-images.githubusercontent.com/20479161/44633137-6d104380-a98f-11e8-98de-78550cd31ae8.png)

But response is `application/json':
`{"filepond":["The filepond must be a file of type: audio\/mpeg."]}`

[2018-08-27 07:45] rikschennink commented on #41
Please let me know if this did the trick, will close for now as it has been reported to work correctly on the vanilla js version.

[2018-08-27 07:45] #41 closed

[2018-08-27 10:04] Konafets commented on #22
I managed to do it like this now

[code]

Is it somehow possible to wrap the `<file-pond>` component in an custom component?

[2018-08-27 10:32] DTX-92 commented on #41
Yea, it works, thanks.
For matching elements its possible to post element id to server and place it to response too, i guess.

[2018-08-27 10:42] rikschennink commented on #22
Yes, you can always create a custom wrapper.

You could also create a utility function that returns a server config and use that as the value for the server attribute.

[2018-08-27 10:43] rikschennink commented on #41
I'm not sure what you mean by that, can you elaborate?

[2018-08-27 11:16] Konafets commented on #22
Can you point me to an example for a custom wrapper? My main question is, where do I create the component? (calling `const FilePond = vueFilePond( FilePondPluginFileValidateType, FilePondPluginImagePreview );`)

[2018-08-27 11:49] rikschennink commented on #22
I think it would basically be a component? And  then in that component you'd call the above method and implement FilePond as usual. Then in your templates you use your custom component.

In it's most basic form that would be this I think:

[code]

[2018-08-27 12:34] Konafets commented on #22
Ah, thanks again.

[2018-08-27 16:53] DTX-92 commented on #41
For example, im trying to upload 5 files and one of them fires error.
![image](https://user-images.githubusercontent.com/20479161/44672690-d779c000-aa31-11e8-9299-c89a83fad8c8.png)
And in `onerror` callback there is only error message and its impossible to find needed element and replace error message.

[2018-08-28 05:50] rikschennink commented on #41
I'm not sure why you would need access to the element, that's what the `labelFileProcessingError` is for.

- Use `onerror` to filter the server response and only return the error related info you need within FilePond or your application.

- Use `labelFileProcessingError` to use the error info (partially returned by `onerror`) to determine what error message to show.

- If you need to run an action

[2018-08-28 10:12] DTX-92 commented on #41
I'm still trying to figire out how i can change error message here :|
![image](https://user-images.githubusercontent.com/20479161/44716768-ec069880-aac3-11e8-93da-476bc280d631.png)

[2018-08-28 11:39] rikschennink commented on #41
If you update the core FilePond library than you should be able to use `labelFileProcessingError` to do that.

[code]

[2018-08-28 12:48] DTX-92 commented on #41
Huh
I manually updated filepond dependency in vue-filepond package and everything worked! Thank You A Lot!

[2018-08-28 12:53] rikschennink commented on #41
\o/

I still have to update the version of filepond in the Vue package, so manually updating the filepond dependency will allow you to bypass that and install the latest version.

[2018-08-28 17:08] SoGooDFR opened #42 "filepond multiple instance on the same page"
Hi,

I would like to known how make multiple filepond instance with different options on the same page ? Actually i've two vue compoment, and one compoment override filepond options for all filepond input/instance.

[2018-08-31 02:14] wangyi7099 opened #43 "Customize the button"
Hi! Thanks for the component!

I want to click a button to upload not click the text to upload.

For example:

I want to click a customize button to upload like :
![11112](https://user-images.githubusercontent.com/24426655/44888959-6292d880-ad06-11e8-84f1-6c4c97ec831e.png)
 rather than click the text like :
![33333](https://user-images.githubusercontent.com/24426655/44888984-822a0100-ad06-11e8-8b0

[2018-08-31 07:10] weislanes opened #44 "Latest version not on NPM"
Hey, the latest version on NPM is 2.1.6 and looks like the latest release here is 3.0.0.

Does this need to be updated on NPM?

[2018-09-02 22:12] maverickpravin opened #45 "Custom process function not working with setOptions"
First of all thank you for this amazing component. I am using this component in one of my important projects. Process with object works fine but not when i use as a function like below. Kindly guide me if i am doing something wrong.
TIA

[code]

[2018-09-02 22:15] maverickpravin commented on #43
@wangyi7099 You can refer to my code. That might help you further.
Use property `label-idle` for altering the label
[code]

[2018-09-04 07:15] rikschennink commented on #44
Thanks for reporting! Just published version `3.0.1` so should be fixed now.

[2018-09-04 07:15] #44 closed

[2018-09-06 06:15] nazanokumus opened #46 "How vue js and file pond are adapted to each other?"
at index:
`<script>
    Vue.use(FilePond);
    code= {
        components: {
            FilePond
        },
        data:
        {etc..
         } etc..`
at controller:
`$this->assets->addJs("js/node_modules/filepond/dist/filepond.min.js");`

I wrote this but my code is not working

[2018-09-06 06:35] nazanokumus commented on #46
Sorry, my bad. I included it on the page:
[code]
after then

[code]

after then, i'm using `<file-pond/>` tag, but I got an error:

[code]

[2018-09-06 06:59] rikschennink commented on #46
You've included the normal FilePond library and not the Vue FilePond adapter.

[2018-09-06 15:43] wakaryry opened #47 "Help: I can not post into my server"
I got a response: Can not post to server url.

And my server did not receive any request of the upload.

Need help!

Thanks!

[code]
And my `tempImg` is `tempImg: []`.

I can see the UI, but can not post into server.

[2018-09-06 16:32] wakaryry commented on #47
oh. I got it.
My server url is: `0.0.0.0:8000/api/image/upload/`.
But the request's host is from the front node server: `0.0.0.0:8081/api/image/upload/`.

What I need to do is to make a full path url?

[2018-09-06 16:37] wakaryry commented on #47
I set the the url be an absolute url from server, then it works. Thanks.

[2018-09-07 05:35] #47 closed

[2018-09-09 08:59] AlixSperoza opened #48 "processFile() cause apparently "Uncaught (in promise) TypeError: Assignment to constant variable.""
Hello,

When I use vue-filepond in devlopment environment, il have no error. But, if i pass on production environment, when I upload a file, I have a bug in my console.

"Uncaught (in promise) TypeError: Assignment to constant variable."

After few tests, the error affects "processFile()".
In my console, I have two lines in extra :

"at i (app.js?id=aca2e717b61d16bd35b5:1)
at a.then.e (app.js?id=a

[2018-09-09 10:56] rikschennink commented on #48
Hi, I'm not sure, please publish an online test case, I'm happy to take a look.

[2018-09-10 05:17] rikschennink commented on #48
Maybe it's a bug in FilePond maybe it's a bug in one of the plugins, it could very well be a bug in the surrounding code. I can't tell without having more information.

Can you generate a source map so the error message points to a more readable part of the code? That way I might be able to identify the source (if it's FilePond related).

[2018-09-10 08:03] nazanokumus commented on #46
I did what you said. But I got an error like this:
[code]

[2018-09-10 08:05] nazanokumus commented on #46
And after then this error:
[code]

[2018-09-10 10:51] rikschennink commented on #46
Hm, I guess I never tested it outside vue-cli, I'll take a look at this ASAP.

[2018-09-10 11:31] nazanokumus commented on #46
Thank you, i'm waiting for you ..

[2018-09-10 13:07] rikschennink commented on #46
Just published version `3.0.3` and have updated the GitHub readme.md, should now work correctly.

[2018-09-10 13:30] nazanokumus commented on #46
It's work! Thanks for help..

[2018-09-11 06:25] zoumaotao opened #49 "If process and fence have different urls, how to set them separately?"
Hello fellow developer!

💡 If you want to submit a feature request, go right ahead!

🐜 If you've found a bug, please use the template below to report it.

**The more details you provide, the more inclined other developers are to help you and the faster the problem is resolved.**

If you think the issue is related FilePond itself and not the Vue framework or adapter, please submit the issue in the

[2018-09-11 06:26] zoumaotao commented on #49
Wrong

[2018-09-11 06:27] zoumaotao commented on #49
modify

[2018-09-11 06:28] #49 closed

[2018-09-11 06:28] zoumaotao commented on #49
wrong

[2018-09-11 06:29] zoumaotao opened #50 "If process and fence have different urls, how to set them separately？"

[2018-09-14 09:28] AlixSperoza commented on #48
Sorry for the lack of response, i made npm update, "filepond-plugin-image-transform" has been updated. After npm run prod with generation of .esm files, the error in console has "moved".

"Uncaught (in promise) TypeError: Assignment to constant variable.
    at i (filepond-plugin-image-transform.esm.js:20)
    at a.then.e (filepond-plugin-image-transform.esm.js:444)"

For the .esm file : http://ww

[2018-09-14 12:32] rikschennink commented on #48
I'm asking for an isolated test case. Please set up a separate small project where you reproduce the problem, upload that somewhere and I'm happy to help debug.

I can't reproduce the problem and the above code looks fine as far as I can tell.

[2018-09-18 15:45] ppabcd opened #51 "How to get body response from server?"
Hello, i post image to backend server and server give json response. How to get body json response from filepond request?

[2018-09-20 05:55] rikschennink commented on #51
You either set up your own [file processing method](https://pqina.nl/filepond/docs/patterns/api/server/) or you use the `onload` callback on the `server.process` property.

[2018-09-20 12:16] #51 closed

[2018-09-27 11:02] bionicmaster opened #52 "Initial files setup breaks translate styles"
### Summary
When I try to load initial files (because I already upload it and just want to maintain there as indicators) the list is dropped with the transform outside the container

### How to reproduce
Create a box as container
Insert some files (with mock in my case)
Show what's going on with the list of files

### Expected behaviour

List to be inside the container

### Additional information

[2018-09-27 13:06] rikschennink commented on #52
I can't reproduce this problem, can you create a publicly accessible test case.

[2018-09-27 19:22] theimerj opened #53 "Dynamically adding new filepond instance triggers removefile event on all instances"
Hello, first of all thank you for making such an incredible upload package.

### Summary

When I add new instance of filepond (as can be seen on the video), other instances react by triggering removefile event. It could be probably connected to some hidden init method that checks other instances?

Here is a gif showing the problem:

![screen-recording-2018-09-27-at-20 57 50](https://user-images.gi

[2018-09-29 11:56] rikschennink commented on #53
Ah yes that creates a shared options object, glad to hear it’s resolved and thanks for sharing the solution :-)

[2018-09-29 11:56] #53 closed

[2018-10-14 11:03] Geowan opened #54 "Using filepond in nuxt ssr fails"
Am trying to use filepond with nuxt but am stuck on an error vueFilePond is not defined

[code]

The above throws an error vueFilePond is not defined

I have also tried importing it the normal way like

[code]
but it give me an error of window is not defined which points to the filepond node_modules folder

How do i make this to work with nuxtjs ssr

[2018-10-14 11:12] Geowan commented on #54
I figured my mistake i added this as a plugin and now it works

[2018-10-15 05:32] SephVelut opened #55 "Doesn't work"
[code]

[code]

[2018-10-15 06:03] rikschennink commented on #55
You missed a step:

[code]

[2018-10-15 06:03] #55 closed

[2018-10-15 06:05] #54 closed

[2018-10-15 06:06] rikschennink commented on #52
Managed to reproduce the issue. It's probably fixed with the latest `4.0.0` update.

[2018-10-15 06:06] #52 closed

[2018-10-16 12:43] rikschennink commented on #5
@chtsngn You need to define the `server` attribute. Either by setting a url or by supplying a [server configuration object](https://pqina.nl/filepond/docs/patterns/api/server/).

[code]

[2018-10-16 12:54] chtsngn commented on #5
@rikschennink thanks for the answer. I tried these. It loads automatically at this time. I want to install it manually.

[2018-10-16 13:04] rikschennink commented on #5
I'm not sure what you mean with "loads automatically" and "install manually".

[2018-10-16 13:15] chtsngn commented on #5
Sorry, my bad. I want to upload manually with this button.

![screenshot](https://user-images.githubusercontent.com/18267195/47018942-9b73f900-d15e-11e8-9750-bc65a4e3a834.png)

[2018-10-16 13:16] rikschennink commented on #5
@chtsngn To achieve that you can set `instantUpload` to `false`.

[2018-10-22 11:57] mikeskiddle opened #56 "Can't seem to get image crop plugin to work"
### Summary
When using the vue.js adapter, I'm having trouble replicating the image crop/transform functionality as seen on the main project homepage

### How to reproduce
1. Install relevant packages
`npm install --save vue-filepond filepond-plugin-image-preview filepond-plugin-image-crop filepond-plugin-image-resize filepond-plugin-image-transform`

2. Import packages and create basic component

[2018-10-22 12:16] mikeskiddle commented on #56
The demo at [https://codepen.io/rikschennink/pen/EQOLYe](https://codepen.io/rikschennink/pen/EQOLYe) seems to replicate the above behaviour, in that it doesn't display any editing options after upload

[2018-10-22 13:37] rikschennink commented on #56
Hi @mikeskiddle the edit button and editor are managed by the [Image Editor plugin](https://pqina.nl/filepond/image-editor.html) which I now see have forgotten to add to the `registerPlugin` call in the code example. Will update the example code. Sorry for the confusion.

[2018-10-22 13:37] #56 closed

[2018-10-23 08:58] Doaabawab commented on #35
Hi All,

It is really a very nice component, I like it and use it on my project.
But Unfortunately, I am facing a problem with preview image on load, I have included the FilePond Image Preview plugin, and my backend returns the file URL place, however, the image doesn't show on load.

Am I forgetting any priority and I have to configure it? or there is a problem with my settings,
Here is my code.

[2018-10-23 11:46] rikschennink commented on #35
Thanks! Glad you like it!

The `load` end point should return the image binary data, it seems to be returning an image key.

[2018-10-23 17:28] digitalit commented on #54
Please share the complete Nuxt.js set up.

[2018-10-26 09:20] gimyboya opened #57 "FilePond.setOptions is not a function"
### Summary

I can't seem to use this syntax when using `vue-filepound` with typescript to set a custom process function

[code]

I am getting the error `FilePond.setOptions is not a function`

### How to reproduce

try to use `FilePond.setOptions();` on a vue sigle file compoenet

### Expected behavior

Set a custom process function that doesn't upload the files anywhere.

### Additional informat

[2018-10-26 10:11] rikschennink commented on #57
With Vue `FilePond` is a component so this doesn't work.

This should work:
[code]

[2018-10-26 10:53] gimyboya commented on #57
Thank you for the fast reply
following your advice i am writing this:

[code]

and I am getting the following error: `Uncaught TypeError: Object(...) is not a function` which is referring to this line `const FilePond = vueFilePond(FilePondPluginFileValidateType);`

also having a type definition file would be very handy for typescript users.

[2018-10-26 14:33] rikschennink commented on #57
I'm sorry, made a mistake, `vueFilePond` is a default export while `setOptions` is a named export.

I've run a quick test and the following works:

[code]

I'm not very familiar with TypeScript so if you are, PRs are welcome.

[2018-10-27 18:15] gimyboya commented on #57
Thank you it's working properly now

[2018-10-27 18:15] #57 closed

[2018-11-11 11:02] amjadkhan896 commented on #15
Hi i am using vue filepond with laravel. I have one question. How i can show the uploaded images(form the database) in the filepond (Edit Case). Any Help will be appreciated

[2018-11-12 07:48] rikschennink commented on #15
@amjadkhan896 I'm not sure how this question is related to the original issue.

See this entry in the docs on setting initial files:
https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

[2018-11-12 16:30] GabrielMochi opened #58 "TypeError: Cannot read property '_init' of undefined"
### Summary

The component filepond works normally when I run it in the development environment (npm run dev), but when building / compiling the vum project (npm run build), it is not loaded and does not appear on the screen. The error that appears in the browser is as follows:

[code]

### How to reproduce

Here are my codes:

- src/main.js (entry file - file that imports the filepond modules):

[2018-11-13 07:16] rikschennink commented on #58
Hi, I'm not sure, in my development environment I test using vue-cli and it builds fine.

Happy to take a look at a publicly accessible narrow test case.

[2018-11-15 11:04] safiullahsarhandi commented on #5
i just wanted to hide upload button option and your answer just saved my time

[2018-11-15 11:05] safiullahsarhandi commented on #5
i just wanted to hide upload button option and your answer just saved my time

[2018-11-16 03:37] rosnaib11 commented on #58
Same issue with me

[2018-11-16 05:33] achyutgauli commented on #35
my preview image working fine when clicking on "Browse input field" but I want to see saved image on storage by default and then later on change image and save it... using filepond..
Here is my code:
![screenshot 58](https://user-images.githubusercontent.com/21071463/48599686-e7e66a80-e990-11e8-9775-33acd9d50531.png)
![screenshot 59](https://user-images.githubusercontent.com/21071463/48599687-e87f

[2018-11-16 05:35] achyutgauli commented on #35
<img src="{{ asset('storage/images/profiles/'.$user->photo) }}"/>
 <input type="file"
                       class="filepond"
                       name="photo"
                       accept="image/png, image/jpeg, image/gif"/>

[2018-11-16 05:36] achyutgauli commented on #35
img src="{{ asset('storage/images/profiles/'.$user->photo) }}"/
<input type="file"
                       class="filepond"
                       name="photo"
                       accept="image/png, image/jpeg, image/gif"/>

[2018-11-16 06:07] rikschennink commented on #58
@rosnaib11 see my response above:

I searched for `_init` in the entire FilePond repository (core + plugins and adapters) and a function named like that is not used anywhere.

`filepond` has been turned into a peer-dependency a couple days ago, have you installed both the `vue-filepond` adapter and the `filepond` core package separately?

[2018-11-16 06:14] rikschennink commented on #35
@achyutgauli I've formatted your code blocks, please do so next time using backticks.

You need to add the FilePoster plugin if you want to use the poster metadata property. Otherwise you have to setup the server.load endpoint, see [server docs](https://pqina.nl/filepond/docs/patterns/api/server/).

[2018-11-17 16:00] achyutgauli commented on #35
Thank you so much for your response
*Achyut Gauli*
*Freelancer WordPress Developer| Digital Marketing Experts | SEO Specialist*
*Phone: +977 9843512746*
*Email: achyutgauli@gmail.com <achyutgauli@gmail.com>*
*Website: www.enlightnepal.com <http://www.enlightnepal.com>*

On Fri, Nov 16, 2018 at 11:59 AM Rik <notifications@github.com> wrote:

[2018-11-17 16:17] achyutgauli commented on #35
Thank you so much for your response. I already used File Poster Plugin along with other CSS and JS
CSS:
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="s

[2018-11-17 16:38] achyutgauli commented on #35
Note: Sorry I was not able to format my script but I would learn for it...
Thank you so much for your response. I already used File Poster Plugin along with other CSS and JS
CSS:
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<link href="https://unpkg.c

[2018-11-17 19:44] rikschennink commented on #35
I don't see the poster plugin the `registerPlugin` call.

[code]

[2018-11-30 07:02] achyutgauli commented on #35
Is it    FilePondPluginFilePoster Or something else

[2018-11-30 07:05] achyutgauli commented on #35
Just using laravel, I was able to see store image using input type but after using filepond preview is seen just after clicking on browser... I just want to see preview by default while using login to their profile section and store new image after user change it.

For your support: thank's in advance

[2018-11-30 07:41] rikschennink commented on #35
You need to load the file poster plugin.
https://pqina.nl/filepond/docs/patterns/plugins/file-poster/

[2018-12-01 07:54] achyutgauli commented on #35
Thank you so much preview is working fine automatically but using laravel, new image has stored but after using filepond, not worked so how can I stored new image on my localhost after clicking save button, which I have.

[2018-12-01 08:03] achyutgauli commented on #35
![filepond](https://user-images.githubusercontent.com/21071463/49325767-d5af2380-f56f-11e8-9003-d003c1bbea15.png)

[2018-12-01 08:17] achyutgauli commented on #35
I just want to "update profile image via filepond" if user wishes to change through filepond using save button. Note:: it's working fine without using filepond... But I want filepond on my client project for saving purpose help me.

[2018-12-01 10:35] rikschennink commented on #35
I don’t have any experience with Laravel, you can check the PHP boilerplate to see how the server should accept the files.
https://github.com/pqina/filepond-boilerplate-php

[2018-12-05 14:35] omargourari opened #59 "Unable to create the right 'Access-Control-Allow-Origin' headers"
Hello everyone,
I'm having a hard time allowing CORS requests from Filepond client library to a python/gunicorn backend

Here below the Filepond component:

`      <file-pond
        accepted-file-types="text/csv"
        allow-multiple="false"
        :server="server"
        name="test"
        ref="pond"
      />
`
`
import store from '../store'
import vueFilePond from 'vue-filepond';
import 'f

[2018-12-06 07:30] rikschennink commented on #59
The `headers` property sets request headers. To allow a crossdomain request on your server you have to set the response headers on your server. In PHP this looks like this:

[code]

[2018-12-08 18:42] agarhy opened #60 "events Callback functions"
Is there any availability for handling upload to server on a custom method by using component callback function or events?
also how can I access the FilePond Object inside any VUE methods to retrieve selected file object?

[2018-12-09 23:33] exninja commented on #35
@achyutgauli

I'm also using Laravel, Vue, and FIlePond.
Hopefully the following will help. This is working for me on a drag and drop FilePond image, but should help connect the dots.
I'm only on my second day using FilePond and still new to Vue, so there's probably room for improvement.

In my parent component I'm setting the FilePond "files" before loading the FilePond component.
This is so File

[2018-12-10 08:13] jacekpmlr opened #61 "Problem with direct upload and url upload"
Hi, I got following problem.

### Summary

When I upload file via browse, process() take care of it, file is added at the top of filepond (above already added files). When right after that I upload file via URL, different function is used, upload(), and just added file from process() is removed, new file from url is added at the bottom of the list (via binding files to variable).

Why is it removi

[2018-12-10 12:14] jacekpmlr commented on #61
Nevermind - latest filepond did not help, but update to latest vue-filepond solved this problem :)

[2018-12-10 12:14] #61 closed

[2018-12-11 15:19] chtsngn opened #62 ""Load" is not triggered"
Hi @rikschennink ,

I have a little problem. Using the server API, I did the file upload ("process"). I also did file deletion ("revert"). But I could not load the file. How do I trigger "load"?

[code]

### Expected behaviour

I want to load the files while the page is loading.

| Environment  | Version
|------------- | -----------
| OS           | Ubuntu
| Browser      | Chrome 70

[2018-12-11 17:09] rikschennink commented on #62
`load` Is calles for file items defines in the `files` property. The `source` property of each file is passed to the `load` method.

[2018-12-12 07:37] #62 closed

[2018-12-22 00:18] titus-anromedonn opened #63 "Modify browser example (Enhancement)"
### Summary

_Enhancement_

Modify the **browser** example to include the `doctype`,`html`, and `head` tags. The example does not appear to work if you do not include the basic html structure. It looks as though the stylesheet for the library does not properly load.

The following structure makes the browser example work.
[code]

### How to reproduce
- Open a text file
- Paste the browser example

[2018-12-24 08:55] rikschennink commented on #63
Excellent point, I've updated the readme 👍

Please let me know if this solved the issue.

[2018-12-24 12:35] sandroden opened #64 "ignored header option"
Hi, just new to filepond here... I'm trying to setup file-pond whit server. As I'm using axios I thought I could just send Authentication token, but it seems it's not sent. My configuration:

template:

[code]
The serverOptions:

[code]
My django server (using django_drf_filepond, but that doesn't get touched) refuses as no authentication is passed and inspecting with firefox I see no Authenticati

[2018-12-24 13:35] rikschennink commented on #64
Hi!

At the moment headers need to be configured per end-point. This should work:

[code]

[2018-12-24 13:59] sandroden commented on #64
Thanks, Rik, it works! I was convinced I already tried but now I realize it works. Really I get a different error: "Invalid request data has been provided." but that's a different error that I'll start to investigate. I'd say this issue is closed. Thanks for your help and for the very rich library.

[2018-12-24 14:01] rikschennink commented on #64
Glad to hear that, and you're most welcome! :-)

Happy holidays @sandroden!

[2018-12-24 14:01] #64 closed

[2018-12-25 01:31] titus-anromedonn commented on #63
Works perfect!

[2018-12-25 08:04] #63 closed

[2018-12-25 13:16] maverickpravin opened #65 "File of invalid type - accepted file types props not working"
![1](https://user-images.githubusercontent.com/11708491/50422912-fe77bf80-0874-11e9-85b6-21bcd1fc1f34.PNG)

[code]

[2018-12-25 18:24] maverickpravin opened #66 "imagePreviewHeight not obeying for initial images"
[code]

[2018-12-27 13:19] HT-Moh opened #67 "vue-filepond with toast-ui.vue-image-editor"
Hello

I am trying to integrate toast-ui.vue-image-editor using vue, I tried to follow the example with Doka.js and adapted to  toast-ui.vue-image-editor but I am getting error :
 Uncaught TypeError: Object(...) is not a function, I think it's related to the create func that it's imported from vue-filepond.
Can you please help? thank you in advance.

[code]

[2018-12-27 13:43] rikschennink commented on #67
The `imageEditEditor` property expects the supplied image editor to return a specific API, it's highly unlikely `toast-ui.vue-image-editor` conforms to this API.

At the moment the image-editor plugin is mostly there to make it easy to integrate [Doka](https://pqina.nl/doka).

[2018-12-27 18:00] sandroden commented on #67
Hi Rik, I guess this means there's no point in using filepond if one needs editing capability and cannot afford to buy Doka... correct?

[2018-12-27 18:35] rikschennink commented on #67
Not perse. You could open an image editor in the `server.process` callback. Or write a custom plugin that integrates with another editor. Or write a wrapper around another image editor plugin so it integrates with the image-edit plugin. Lot's of ways to go about it.

[2018-12-27 18:35] #67 closed

[2018-12-28 14:38] sandroden opened #68 "file uploaded any time every time I visit the form"
I setup a component that correctly uploads files to the backend but it uploads the file **any time** you visit the form. Clearly I have made some mistake but I can't find where.

My component is roughly:
[code]
The script is:
[code]

When you select an image or drop it, the image is loaded to the server and the preview is correctly displayed, when you visit a form that has already an image defined

[2018-12-30 07:48] #66 closed

[2018-12-31 09:55] rikschennink commented on #67
I've added some more info to the docs to make it easier to integrate with other editors:
https://pqina.nl/filepond/docs/patterns/plugins/image-edit/#integrating-other-editors

[2019-01-03 07:03] rikschennink commented on #65
The image you're linking to is 70KB. As FilePond indicates 2KB I think FilePond is trying to load the file, but the request is blocked due to CORS or is somehow not coming through. The result is an HTML page with error state which is neither a PNG or a JPEG. You should be able to see the request and response in your developer tools network tab.

[2019-01-14 10:42] kaisanjay opened #69 "POST http://abc.test/api/address 500 (Internal Server Error)"
whenever I tried to upload an image it throws an error
[code]

code example
[code]

in data option
[code]

[2019-01-14 11:36] rikschennink commented on #69
Seems to be your server throwing the error? What's happening there?

[2019-01-14 11:39] #69 closed

[2019-01-19 12:15] agarhy opened #70 "Imaged Edit button not showing"
🐜 image edit plugin bug

### Summary
Trying to use imaged-edit with another plugin than Doka, when tried to use plugin API wrapper in docs it doesn't show the edit button that will trigger custom editor.

not sure if this

### How to reproduce
[code]

### Expected behaviour

1- after upload image it will show edit button
2- clicking edit button should trigger the API wrapper` editor.open()`
3- aft

[2019-01-19 13:08] agarhy commented on #70
Thank you for the prompt reply.

Actually, that works fine on js page but didn't work on the VUE version.

using follow to create the instance but still not showing the edit button
[code]

[2019-01-19 13:16] rikschennink commented on #70
I think you migh thave to use `v-bind:` in this situation? I'm not sure, not a Vue expert.

`v-bind:image-edit-editor="editor"`

More info here.
https://stackoverflow.com/questions/45174669/vuejs-2-passing-prop-object-to-child-component-and-retrieving

[2019-01-30 19:03] annymosse commented on #22
the `v-filePond` component isn't reactive ,i have the same troubles :
- `x-xsrf-token` isn't static change each ajax request,whenever it's not geting the new `xsrf-token` value (i solved this point by changing the `filepond.js` core and inject the request by it.
- my server reciving the files at dynamic url (ex:'/uploads/:user_email') and i can't selve this point until now.

**suggestion** : add `

[2019-02-04 07:48] rikschennink commented on #22
@annymosse You can set a custom processing method and use Axios there to upload the file. That should also supply plenty of flexibility to have a new token each request, also this should make it possible to update the URL as well.

[code]

[2019-02-04 15:49] #70 closed

[2019-02-04 15:49] #68 closed

[2019-02-08 13:12] annymosse commented on #22
i didn't try it yet ,can i ask you to post a small example to post a file to the server using idea ?,coz i think there is no params to post the bin file else using so plugin or convert the file into Base64

[2019-02-08 13:25] rikschennink commented on #22
You can find an example custom `process` method here:
https://pqina.nl/filepond/docs/patterns/api/server/#advanced

[2019-02-12 23:10] annymosse commented on #22
thank you @rikschennink  this advanced example help me

[2019-02-20 15:23] arif opened #72 "Can't integrate 3rd party image crop plugin"
I'm trying to integrate 3rd party plugin for cropping images on upload with filepond.

I copied `editor` variable directly from docs and defined in data.

[code]

Then called it with `imageEditEditor` prop.

[code]

But this gives an error like picture below

![image](https://user-images.githubusercontent.com/6605876/53101885-af2fd180-353b-11e9-9d65-0fcfd5bcca4d.png)

Any idea how to solve that is

[2019-02-20 19:27] rikschennink commented on #72
This "works" on my dev environment, works meaning, it doesn't do anything you still have to link up all the editor config methods to your third-party cropper. And then convert the third-party cropper output to match the image-preview plugin format.
[code]

[2019-02-21 06:28] arif commented on #72
I updated filepond version from 4.2.0 to 5.0.0. Now it works!

[2019-02-21 06:28] #72 closed

[2019-02-21 06:40] rikschennink commented on #72
Fantastic, glad to hear that @arif!

[2019-03-10 01:32] oiagorodrigues commented on #18
Hi. Sorry to "reanimate" this issue, but have any of you managed to implement this in the current build?

[2019-03-11 17:48] JayU9769 opened #75 "File Preview through dynamic image from database in Vuejs"
Hi guz,

I have used filepond for the file upload functionality. but now i want to preview image dynmically from the database so how i can preview images with plugin

i have used Vuejs and filepond component for that

[code]

[2019-03-12 07:23] rikschennink commented on #75
You can use the image preview plugin
https://pqina.nl/filepond/docs/patterns/plugins/image-preview/

Use the `server.load` end-point to return file data required for the preview.
https://pqina.nl/filepond/docs/patterns/api/server/#load

[2019-03-15 09:37] dulumao opened #76 "Get serverId problem!!!"
Hi ,here my template:

[code]
vue methods
[code]

why?

[2019-03-15 16:07] #76 closed

[2019-03-18 19:49] gassius opened #77 "Image preview failing with style-panel-layout circle in component"
### Summary

I am trying to replicate the Profile Picture Selection example on https://pqina.nl/filepond/#profile-picture-demo in a component

However, once I apply styles related options, I cannot get a preview image or actions buttons. It does show an image preview without those style options, but square format and without the related button for process

As it works without the styles, I think t

[2019-03-19 13:23] creazy231 commented on #31
@rikschennink Hey man, I have the same problem but cant figure out how you fixed it. Could you provide me any information?

[2019-03-19 13:50] creazy231 opened #78 "Wrong Server options (URL) on fetch"
### Summary
Uploading images works fine. Now I want to fetch the uploaded image when the page is loaded but filepond uses wrong URL to fetch data.

### How to reproduce
![image](https://user-images.githubusercontent.com/13473174/54610776-f6838200-4a55-11e9-8d90-640b3ad578cb.png)

### Expected behaviour
Fetching the file using `http://localhost:3000` instead of the current href + file.

### Additio

[2019-03-19 19:50] gassius commented on #78
if you don't define a different fetch configuration, its expected to use localhost:3000 as it is the server you defined. Your server need to download that file from a third party server, save it to a tmp file and provide it back to FilePond. FilePond won't request the file directly because CORS policies might block it.
In any case, it seems like you need to do a load instead of a fetch. The way I

[2019-03-20 08:57] gassius commented on #77
To follow up, this worked after switching some params to camelCase and adding some others:
[code]

[2019-03-20 08:57] #77 closed

[2019-03-20 15:37] annymosse commented on #22
sorry @rikschennink but i coudn't use your solution ,it's still spining without any error report at both sides (server&client),whenerver im still using the browser version not vue-CLI,can you use some real example at codepen or jsFiddle?

[2019-03-20 16:42] creazy231 commented on #78
In my case I want to load the image from my backend (direkt url or api file response) and put this file into the filepond object. Therewith the user will be able to delete the file and upload a new one but I'm not able to get the image using direkt url or api file response because filepond tries to get the file using a wrong url, even if I provide die correct endpoint.

[2019-03-20 17:42] gassius commented on #78
@creazy231 then for sure you need to use load instead of fetch
In the example you provided, FilePond will try to load any from localhost:3000/?load={fileId}

I strongly recommend you setup a different endpoint as for example:
[code]
for load to work, you need to provide an array of File objects as for example:
[code]

[2019-03-21 06:58] rikschennink commented on #31
Accidentally opened the issue. :)

[2019-03-21 06:58] #31 closed

[2019-03-21 06:59] rikschennink commented on #31
@creazy231 I've lost track of this.

[2019-03-21 10:22] Vidhya-Dilip commented on #43
Is it possible to set a button outside 'file-pond' component to upload the file? 'filepond--label-action' class works only inside 'file-pond' component.

[2019-03-21 10:26] Vidhya-Dilip opened #79 "Upload button outside 'file-pond' component"
Is it possible to set a button outside 'file-pond' component to upload the file? Tried 'filepond--label-action' class. But it works only inside 'file-pond' component.

[2019-03-21 17:58] creazy231 commented on #78
This example helped me a lot <3 Thanks

[2019-03-21 17:58] #78 closed

[2019-03-21 18:01] creazy231 opened #80 "File metadata"
### Summary
Using the plugin metadata causes in that I can't upload a file. After I chose an image using the file browser filepond reverts the upload. No progress - nothing.

### How to reproduce
`npm i filepond-plugin-file-metadata --save` and use it.

### Expected behaviour
A working plugin.

[2019-03-22 06:46] rikschennink commented on #22
If you can supply a demo on codepen / fiddle / or codesandbox I'm happy to take a look

[2019-03-22 13:53] rikschennink commented on #80
Can you give version `1.0.5` of the metadata plugin a try.

[2019-03-24 02:33] creazy231 commented on #80
Version `1.0.5` works like expected. Thanks ✨

[2019-03-24 08:09] #80 closed

[2019-03-27 15:28] pbowyer commented on #79
It is. I've added a method which I attach to my own button:
[code]

[2019-04-01 06:38] #79 closed

[2019-04-01 06:39] #75 closed

[2019-04-01 17:41] HapLifeMan opened #82 "Glitch when destroying the component"
Hi, I found something weird when the component is destroyed, I am not able to describe that 😅

![Enregistrement de l’écran 2019-04-01 à 19 32 40](https://user-images.githubusercontent.com/1854141/55347489-57c73e80-54b5-11e9-9733-37bbd6e37493.gif)

[2019-04-01 20:52] HapLifeMan commented on #82
Oh sorry, the text isn't important, the FilePond instance is going back to the classic file input when it is destroying.

[2019-04-01 22:13] phlegx opened #83 "Event callback processfileundo not called"
Hi,

I have setup **vue-filepond 5.0.0** (v5.1.0 is not on npm at this time) with the latest version of **filepond 4.3.5**. Using callback `processfileundo` don't seems to work.

[code]

[2019-04-01 23:13] phlegx commented on #83
On the [online documentation](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/) the callback is named `onprocessfileundo` and in the code the callback is named `onprocessfilerevert`.

[2019-04-02 06:42] rikschennink commented on #83
Forgot to publish `5.1.0` so just published it.

Please submit a pull request so the docs can be updated.
https://github.com/pqina/filepond-docs

[2019-04-02 06:42] #83 closed

[2019-04-02 06:45] rikschennink commented on #82
It removes itself from the DOM, it seems to do this the moment the popup fades out? Can you adjust the code so it removes itself when the popup is hidden?

[2019-04-03 12:26] Wifsimster opened #84 "remove method called when Vue.$destroyed called"
Hi, i just noticed something really weird !

If i leave my Vue component "rapidly" the **remove()** method from filepond is called (and all my files are removed from server...)

So, i inspect the stack trace and i got :
`
destroy (vue.js) > Vue.$destroy (vue.js) > beforeDestroy (vue-filepond.js:178) > destroy (filepond.js:9203) > dispatch (filepond.js:78) > ABORT_ALL (filepond.js:4265)
`

And **AB

[2019-04-03 12:41] Wifsimster commented on #18
@oiagorodrigues  I use a similar solution as @novikov-alexander  https://github.com/pqina/vue-filepond/issues/18#issuecomment-392769848 (i don't know why he uses `this.nextTick()`)

[2019-04-03 12:43] rikschennink commented on #84
If the component is removed, so is FilePond, any ongoing processes are stopped.

[2019-04-03 12:46] Wifsimster commented on #84
@rikschennink Yeah, i got this. But it's not what is happening here. When the component is removed filepond call remove() on all my instanciate files.

[2019-04-03 13:11] Wifsimster commented on #84
@rikschennink I made this example to prove my point : https://codesandbox.io/embed/yv0v008mlx

Navigate through the two pages rapidly and look at the console.

[2019-04-03 19:33] HapLifeMan commented on #82
I think that's not a pretty solution and hard to do (I'm using Vue transitions with `v-if`).

I tried to modify the source code and I get it work by removing `this._pond.destroy()` in the `beforeDestroy()` method (I tried to changed the `beforeDestroy` to `destroyed` but didn't works).

But this solution can have unexpected behaviors, what do you think of that?

[2019-04-04 05:35] rikschennink commented on #84
Thanks, I'll try to get to this next week.

[2019-04-04 05:44] rikschennink commented on #82
Why is that not a pretty solution? It seems logical to only unload the component once it has fully exited the view.

This will keep FilePond running and cause memory leaks.

[2019-04-04 16:25] HapLifeMan commented on #82
Of course that solution can cause memory leaks...
So I don't know how to resolve this glitch with Vue transitions without changing the lib 😕

[2019-04-04 18:12] NegativeDearc opened #85 "Unknown browser query `last 1 version and not Explorer 10`"
I'm trying to use ```vue-filepond```just follow examples while encountered BrowserslistError as below

[code]

Here's the package.json information. My Project generate by vue-cli@2

[code]
How to fix this?

[2019-04-05 06:20] rikschennink commented on #82
No way to trigger the cleanup after the transition has ended?

[2019-04-05 06:26] rikschennink commented on #85
Updating you're build script should solve this. The latest version of browserslist supports this query ( `last 1 version and not Explorer 10` ) but apparently not all packagers are up to date yet.

[2019-04-05 17:07] HapLifeMan commented on #82
No planned way with a normal use of Vue transitions...

[2019-04-05 18:05] ricardoccpaiva commented on #37
@rikschennink where is the `uploaded` variable declared ?

[2019-04-05 22:04] rikschennink commented on #37
I don’t know, it’s a custom implementation by OP.

[2019-04-06 12:48] NegativeDearc commented on #85
Yes, I tried to updated some packages
[code]
then solved the problem.

Thanks

[2019-04-08 07:19] #85 closed

[2019-04-08 12:31] rikschennink commented on #84
I just published FilePond core `4.3.6`, should solve the issue.

`npm i filepond@latest --save`

[2019-04-08 12:57] rikschennink commented on #82
I've tried to find a solution to this but no luck just yet. It seems the `beforeDestroy` and `destroyed` lifecycle hooks are called before the transition on the parent container has fully completed.

[2019-04-08 13:25] rikschennink commented on #84
Hang on, this probably won't fully solve it.

[2019-04-08 13:40] rikschennink commented on #84
Try `4.3.7`

[2019-04-08 13:53] Wifsimster commented on #84
The bug seems to be fixed !
Thanks a lot :)

[2019-04-08 13:53] #84 closed

[2019-04-17 21:08] flxwu commented on #85
I have got those exact same packages (& versions) but still face the same error :/

[2019-04-25 15:17] rikschennink commented on #85
@flxwu There’s possibly another part of your build process that is not up to date

[2019-05-05 03:22] profileCaren opened #86 "Why the `process` method in `server` was called only twice"
### Summary

The `process` method in option `server` will only be called twice.

![image](https://user-images.githubusercontent.com/16242633/57187871-3fb96380-6f28-11e9-8718-81b6d744339c.png)

As you can see, I've selected couple of images (more than 2). But only two of them were successfully uploaded (trigger `process` method).

### How to reproduce

Here is my code. I am trying to upload to S3.

[2019-05-05 03:39] profileCaren commented on #86
The same behavior with edge browser.

[2019-05-05 06:43] profileCaren commented on #86
I've forked a [sandbox](https://codesandbox.io/s/nnq9xk40?fontsize=14) from your demo and reproduced the problem. Please check this out.

[2019-05-06 06:14] rikschennink commented on #86
You're not calling the `load` in your custom processing method. Please read server docs here:
https://pqina.nl/filepond/docs/patterns/api/server/

[2019-05-06 06:14] #86 closed

[2019-05-06 13:29] AndroAmater commented on #82
Hey guys, It works for me when I change `beforeDestroy` to `destroy` I think your problem was using `destroyed` which is not a Vue lifecycle hook. I'll submit a PR, you can test it and if it solves the problem on your side please merge it :)

[2019-05-06 13:44] rikschennink commented on #82
@AndroAmater Appreciate your input, unfortunately this does not solve the issue. `destroy` is not a lifecycle hook (it's not in the diagram) and therefor is not called by Vue, and thus the problem does not occur / seems fixed. `destroyed` is a lifecycle hook, see link below:
https://vuejs.org/v2/api/#destroyed

![Vue Lifecycle Diagram](https://vuejs.org/images/lifecycle.png)
)

[2019-05-06 13:53] AndroAmater commented on #82
Shit, my bad. How about `deactivated`? https://vuejs.org/v2/api/#deactivated

[2019-05-06 14:31] rikschennink commented on #82
You're free to try, but it seems the description doesn't really match the use case.

[2019-05-06 15:07] AndroAmater commented on #82
Well my bad yet again. I was busy so I didn't test. I however did some testing with console logging and found a solution that works but it requires a mixin I found at https://www.npmjs.com/package/vue-removed-hook-mixin

[2019-05-06 17:03] PauloViniciusBaleeiro commented on #85
Hi @rikschennink , i got these problem, then I "solved"  importing css files by CDN. I´m using Vue version 2.5.21. Before this "solution" i tryed update the npm packages but I still getting errors.

[2019-05-06 17:30] rikschennink commented on #82
@AndroAmater Okay, so basically we could add this package as a dependency and then add it to the component which adds the `removed` hook which we then can use to unload the FilePond instance.

I just took a quick look at the code to see how big it was, it's just a couple hundred bytes, which is nice. BUT this is the code.

[code]

I'mt not super psyched about `setInterval` polling the DOM. We coul

[2019-05-07 01:20] profileCaren commented on #86
OK, My bad.
I'll read it through. Thanks for your response.

[2019-05-07 01:50] profileCaren commented on #86
And besides that, how do I upload a directory? I've read the docs and did not found it. Thanks :)

[2019-05-07 07:26] profileCaren commented on #86
OK, simply drag a directory to it. I was thinking the whole directory is going to be displayed as a directory. (so it won't be slow when there are hundreds of files inside). Anyway, thanks for your great job!

[2019-05-07 16:43] AndroAmater commented on #82
Well as per your suggestion I played around with `Mutation observer and came up with this`

[2019-05-07 16:50] AndroAmater commented on #82
Well as per your suggestion I played around with `MutationObserver` and came up with this
`if (!document.VueFilePondObserver) document.VueFilePondObserver = [];

            document.VueFilePondObserver[this._uid] = new MutationObserver((mutationList, observer) => {
                for(let i = 0; mutationList.length > i; i++) {
                    if(mutationList[i].type === "childList" && mutatio

[2019-05-09 06:10] rikschennink commented on #82
Thanks @AndroAmater I'll look into this and run some tests myself

[2019-05-13 07:52] rikschennink commented on #82
Just published version `5.1.1` which fixes the issue in my tests.

This is the new `destroyed` method.

- It will test if the element has already been detached using `offsetParent`, this is the case when no transitions are used.

- If it is still in the DOM it will observe mutations to the `childList` and will trigger `detached` when it observes the root element has been detached from the DOm.

[c

[2019-05-13 08:02] HapLifeMan commented on #82
It's working very well, thank you so much 😊

[2019-05-13 08:02] #82 closed

[2019-05-26 12:35] hekmatinasser opened #88 "error size not available"
hello
when setting initial files give error size not available

in network tab give file from serve
[code]

and header responce
[code]

options sever
[code]

files in data
[code]

| Environment  | Version
|------------- | -----------
| OS           |  Linux
| Browser      | firefox

[2019-05-27 09:36] RoraxHan commented on #85
Is there any solution to solve this problem without using the cdn to import filepond.min.css?
I've updated all packages used in my project like webpack, webpack-cli, css-loader, postcss-*, etc.
Any suggestion will help me.

[2019-05-27 11:46] rikschennink commented on #85
@RoraxHan Maybe this helps:
https://github.com/browserslist/browserslist/issues/323#issuecomment-442877204

[2019-05-28 06:31] rikschennink commented on #88
I'm not sure what's going on, please supply a public test case

[2019-05-29 08:06] hekmatinasser commented on #88
the problem solved, because response  have not header in [fetch docs](https://pqina.nl/filepond/docs/patterns/api/server/)

[2019-05-29 08:06] #88 closed

[2019-06-10 10:55] SacDin commented on #18
@novikov-alexander To which event names handleFilePondProcessfile should be bound to ?

[2019-06-10 10:59] SacDin commented on #18
Got it, it is `@processfile`.

[2019-06-10 16:14] BorisKligman opened #91 "Vuex state as parameter for custom server"
Hello!
There was a problem: the API requires additional parameters, including the json object. If I add parameters using FormData.append(), without reactive data, everything goes well. But when I try to add data from the computed property vuex, I get the error cannot read property of undefined. Is there a way to pass a vuex state in a filePond instance?

[code]

[2019-06-11 05:15] rikschennink commented on #91
There probably is but as I am not an expert in Vuex I'm not sure. You could set those values as file metadata entries, that makes them available in the process method.

[2019-06-11 12:34] BorisKligman commented on #91
When I tried to pass the value of the reactive variables directly to the server object of setOptions instance, this didn't match. Possibly, access of such level is not provided or intends to be closed.
My problem was solved when I delivered the process method directly to the Vue instance.

[2019-06-11 12:34] #91 closed

[2019-06-18 23:03] oiagorodrigues opened #92 "PDF, DOC, XLS miniatures."
Hi.

How can I add miniatures of the file types when the user uploads a file ?
I'm trying to use the `file poster` plugin to do that (using vue btw), but without success.

That's my code:

[code]

That was my lastest attempt. It adds the metadata to the file, but nothing happens in the screen.

I tried to use a `png` file, instead of `svg`, but the result was the same.

I'll not upload the file ri

[2019-06-24 06:57] rikschennink commented on #92
the post plugin does not handle dynamic updates of the poster property so the poster image has to be set before the image shows. In this situation you'd have to write a custom plugin, forking the poster plugin and adjusting it is the best approach.

[2019-07-04 23:01] Oscarz90 commented on #85
guys, Im facing the same issue, any recomendation, I followed the above solutions but the dont work

[2019-07-09 14:02] alcaitiff opened #93 "TypeError: Cannot read property 'getFiles' of null"
### Summary

The versions 5.1.0 and 5.1.1 changed it to allow v-model support.

When the component refreshes it appears to lose reference to _pound and it fails emitting the input signal.

### How to reproduce

Put the component inside a v-for, when you upload or remove an uploaded file the error will appear on console.

The error occur on the line 153 of the file vue-filepound.js

[code]

Apparen

[2019-07-12 06:15] rikschennink commented on #93
Please provide a test case on https://codesandbox.io/s/p3v8zoprp7

[2019-07-12 07:34] nehadhiman6 opened #94 "imagePreviewMaxHeight not working for poster image height"
Hello fellow developer!
i am using filpond with Vuejs. imagePreviewMaxHeight is working fine. but when i use poster in edit case image PreviewMaxHeight is not working.

Summary
myFiles.push({
source:base_url+'/attachments/'+user.user_attachable.attachment_id,
options:{
type:'local',
metadata: {
poster: base_url+'/attachments/'+user.user_attachable.attachment_id
},
},
});

<file-pond
ref="pond"
:im

[2019-07-12 08:11] rikschennink commented on #94
Please format your code snippets. As stated in the issue template:

[2019-07-12 11:47] annymosse commented on #22
hi @rikschennink sorry i didn't answer your request coz i switched to `dropzone` ,now im trying again ;
i had unknown problem if i try with axios its work well
[code]
whenever i tried lots to post same files the server still rejecting them with 403 status
[code]

[2019-07-12 11:58] rikschennink commented on #22
Why are you not setting the headers inside the axios processing call?

[2019-07-12 11:59] annymosse commented on #22
coz `axios` set the headers automatically

[2019-07-12 12:52] rikschennink commented on #22
then I don't know what's going on, the 403 suggests your server is not allowing the post, wether that is because of too much requests or the requests having incorrect headers I don't know.

[2019-07-12 13:43] annymosse commented on #22
@rikschennink there's a single request coz im using devtools with break point to the route bellow `/uploads/temp/` and i had confirmed if does it sending the `xsrfToken` or not , you can try it via `expressJs` or as am i using `AdonisJS` (not sure :100:  ,but any server using `xsrfToken` protection)

[2019-07-12 14:01] rikschennink commented on #22
If the tokens are in the request than I don't think this has to do with FilePond, FilePond is simply firing the request nothing more.

[2019-07-12 15:04] annymosse commented on #22
@rikschennink  thanks after all ,but until now I don't know why i can post the file(s) via `axios` whenever i can do the same via `Filepond` only if i turn the `xsrfToken` protection, i think we must know the reason behind this ponit.

[2019-07-15 22:58] mauricebalde opened #95 "Hallo,"
Hello fellow developer!

💡 If you want to submit a feature request, go right ahead!

🐜 If you've found a bug, please use the template below to report it.

**The more details you provide, the more inclined other developers are to help you and the faster the problem is resolved.**

If you think the issue is related FilePond itself and not the Vue framework or adapter, please submit the issue in the

[2019-07-15 22:59] #95 closed

[2019-07-15 23:03] mauricebalde opened #96 "vue-filepond Doka.js"
Hi there,

unfortunately the docs lack any detail on using the Doka.js inside vue.
I bought the license and setup Doka and filepond each aside working fine.
but I can't find a way to trigger Doka from filepond inside vue.
Also the edit image button in the bottom center is always missing.

<template>
    <div id="app">
        <div>
            <FilePond
                    name="test"

[2019-07-16 07:35] dzotos opened #97 "Drag event listeners"
Hi, first of all you made an amazing work with this uploader, big thanks!

On my question. Is there any way of capturing drag events of type eg. "dragover, dragend"? What I'm trying to achieve is, to manipulate the styles/classes from the drop area while listening on this events. It seems that there is no way to achieve this atm, rather set the event listeners manually.

[2019-07-16 07:51] rikschennink commented on #96
Hi @mauricebalde,

Your Doka product license ships with personal support please use the support form over at https://pqina.nl/doka/support/ happy to help out.

I'll update the package with a Vue + FilePond + Doka integration example.

This should do it:

[code]

[2019-07-16 09:08] rikschennink commented on #97
FilePond toggles a `data-hopper-state` attribute on the `.filepond--root` element (`drag-exit`, `drag-over`). Maybe you can use that to style the drop area?

[2019-07-16 10:00] dzotos commented on #97
@rikschennink Thanks for the reply. You are right but, this state changes when you hover the drop area. I need to be triggered when something is dragged within the page.

[2019-07-16 10:07] rikschennink commented on #97
Ah, I think that would require adding additional listeners.

[2019-07-16 10:09] dzotos commented on #97
Cool, thanks 👍

[2019-07-16 11:06] #97 closed

[2019-07-17 17:37] alcaitiff commented on #93
Test case in: https://codesandbox.io/s/vue-filepond-live-demo-g5sj0

How to see it:

1. open https://g5sj0.codesandbox.io/
2. open the console
3. add a file
4. remove the file
5. see the error
![s1](https://user-images.githubusercontent.com/14186387/61397444-48230880-a8a0-11e9-8685-cc904c3c478a.png)
![s2](https://user-images.githubusercontent.com/14186387/61397445-48230880-a8a0-11e9-8873-af2e0bff4

[2019-07-17 17:41] alcaitiff commented on #93
If you change the vue-filepond to version 4.0.3 there will be no error

[2019-07-18 07:59] rikschennink commented on #93
This is happening because you're rebuilding the entire app on file remove (or somewhere in between). This causes the FilePond instance (and therefor ref) to be lost. It worked on 4.0.3 because that version contained a bug that would prevent FilePond from cleaning up its instance (resulting in memory leaks).

[2019-07-18 11:51] alcaitiff commented on #93
Today I tried with version 5.0.0 and 5.1.0 on https://codesandbox.io and it worked fine.

The error only appears on 5.1.1

On this version this._pond is cleared when the component root node has been detached like you can see here https://github.com/pqina/vue-filepond/commit/4e69e906e395ff1e0acd8d57a8d4b286385b6b63#diff-8866a1d4bf3fb5bf78aa4bbc2b58e831

I'm not sure if this is really necessary.

If

[2019-07-18 12:17] rikschennink commented on #93
It needs to be cleared otherwise the instance stays active and new instances could be created for each re-render.

[2019-07-18 12:23] alcaitiff commented on #93
So what do you think about putting this test before emitting?

[2019-07-18 12:27] rikschennink commented on #93
It's better than nothing. I'm just wondering why you're redrawing the component.

[2019-07-18 12:43] alcaitiff commented on #93
Obviously the code I provided was just for test purposes and the application I'm working on is a lot more complex.

Basically I have some different lists of files that must be manipulated and the component must be used inside of a loop.

[2019-07-18 14:16] rikschennink commented on #93
We could make it a bit shorter:

[code]

[2019-07-18 15:58] alcaitiff commented on #93
Sure thing. It's done.

[2019-07-19 06:15] rikschennink commented on #93
Just publised 5.1.2

[2019-07-19 17:27] #93 closed

[2019-07-22 12:53] lpeliberty commented on #31
hello guys, just hide the button is a really bad practice...
A simple trick to disable upload button and other features around the upload is to set `process` property to `null` in server config :
[code]
This is my React solution , just adapt it :wink:

[2019-07-28 22:33] helderferrari2 opened #99 "Combine normal form with filepond vuejs"
I am developing using Laravel 5.6 + Vuejs and I am in doubt using Filepond 5.1.

I have a form with user data and would like to send only 1 request to the server, containing the user data with the 5 images loaded, when the user clicks the submit button, is it possible to do this with filepond?

I read some tutorials but found nothing concrete.

The request is sent, but laravel does not recognize t

[2019-07-29 16:46] rikschennink commented on #99
FilePond will POST each individual file to `http://localhost:3000/api/images/storeImage`

If you want to send everything together you have to listen to the onupdatefiles event and populate the images array from there.

[2019-07-29 17:28] helderferrari2 commented on #99
ok, so I must remove the server property from the component, Then add something like:

[code]

[code]

To send the array, do I need to declare const data = new FormData ()?

[2019-07-30 06:21] rikschennink commented on #99
I'm not sure how that works in Vue. onUpdate files returns a file items array you'll have to extract the file objects before adding them to your FormData object.

[2019-07-30 20:06] LazaroOnline opened #100 "Memory Leak when the component is destroyed but the MutationObserver's callback is never called"
### Summary
Memory Leak when the component is destroyed but the detached callback is never called.
It happens in some cases when "vue-filepond.js" "detached()" method is never called even if the "destroyed()" method for the wrapper was called.
The MutationObserver's callback is never called, I guess that observer doesn't cover all cases.

### How to reproduce
Using Vuetify's data table with expand

[2019-07-31 01:59] helderferrari2 commented on #99
@rikschennink, thank you for support.
Finally I found a solution, thanks for the amazing package, follows my code:

**FormComponent:**
[code]

**Vuex:**
[code]

**API Laravel:**
[code]

I will be writing a post in the future to help other devs.

Thank you so much for your help and success.

[2019-07-31 02:00] #99 closed

[2019-08-02 06:36] rikschennink commented on #100
Thanks for reporting, will take a look as soon as possible. The MutationObserver is there to allow removal after a fade out transition.

[code]

You're logging that it is not destroyed but how have you determined this?

[2019-08-02 13:28] LazaroOnline commented on #100
I determined that the method was not being called by adding a console.log inside the "detached" method of "vue-filepond.js".
I updated the code sandbox example to add those console logs so it is easier to check.
It can also be detected by profiling the memory usage in chrome and observing if the memory is being released after opening and closing the row by clicking it.

[2019-08-04 15:28] marky291 opened #101 "Chrome aw-snap when uploading more than 5 images on an accordian tab"
I am building a web service where a user can upload and configure a 'card' which inherits a live preview of the vue instance as you modify the configurator component, the uploading works great throughout however I have narrowed it down to a total of 5 images allowed, where anything more will crash chrome on accordian tab change, here is a preview of the tab.

<img width="397" alt="Screenshot 2019-

[2019-08-04 16:07] marky291 commented on #101
Issue is not present when downgrading to

"vue-filepond": "4.0.1",

[2019-08-04 16:50] #101 closed

[2019-08-05 08:58] rikschennink commented on #100
@LazaroOnline Should be fixed in `5.1.3`, the MutationObserver now watches the document root for changes

[2019-08-05 16:37] LazaroOnline commented on #100
Yay! It does work now in all my tests is calling the destroy method properly.
Great job and fast response, Thank you very much!

[2019-08-05 16:37] #100 closed

[2019-08-06 09:07] MrSunshyne commented on #70
Hey @agarhy, which custom editor are you using instead of Doka ?

[2019-08-10 14:29] Massruha commented on #94
Same problem here.

[2019-08-12 06:18] rikschennink commented on #94
@Massruha FilePond uses the file height of the first item, see docs:
https://pqina.nl/filepond/docs/patterns/api/style/#grid-layout

[2019-08-15 19:00] Massruha commented on #94
I still without success. This is only working here for new uploads. For files loaded by initial poster images, the size keep as the @nehadhiman6  commented.

[2019-08-17 15:22] Geowan opened #102 "Feature request: Having global headers"
Currently all headers have to be set on each server object that is you have to set headers for process, revert restore and load differently. In my case the only headers am setting are authorization tokens which am forced to add them like

         server: {
                url: '/api/v1/settings/logo/',
                process: {
                    url: 'upload',
                    method: 'POST

[2019-08-18 19:47] zusamarehan opened #103 "Custom Server Option not working"
### Summary
I am trying to use the `process` handler to configure my own server options when sending the request when the images is uploaded. But the request doesn't goes, the filepond frontend says uploading but there is actually nothing happening in the backend.

### How to reproduce

[code]

### Expected behaviour
Send the request to the backend which is Laravel, with the `csrf-token`.

### Add

[2019-08-19 07:05] rikschennink commented on #94
@Massruha The `imagePreviewHeight` only works for the image preview plugin, not the poster plugin.

[2019-08-19 07:20] rikschennink commented on #103
I think this `:server="this.server"` should be `:server="server"`

[2019-08-19 09:54] srivastavarnav commented on #85
Guys, did anyone got this working? If yes, please suggest the steps to resolve. None of the above solutions worked for me

[2019-08-19 12:35] zusamarehan commented on #103
I believe that is not the issue. I have tried with the said solution. It's the same thing. There is no request on the network tab of chrome console.

Note: If there is any other solutions for sending additional request, please recommend.

[2019-08-19 12:40] rikschennink commented on #103
I suggest adding a log statement inside the `process` handlering and see if it runs, if so, the issue is with the axios call.

[2019-08-19 12:42] zusamarehan commented on #103
Yea I have done that. It logs up until axios call statment. Once it reaches the axios call it disappears.

[2019-08-19 12:45] rikschennink commented on #103
Can you try with this function:
https://pqina.nl/filepond/docs/patterns/api/server/#process-1

[2019-08-19 14:19] zusamarehan commented on #103
I have tried the function which you said, request is going now but to the wrong endpoint.
I have given like this
[code]

### Request Details
[code]

[2019-08-19 14:23] rikschennink commented on #103
As this problem is related to the XHR request and its implementation and not FilePond I'll close the issue.

You can find more info on XHR here:
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest

[2019-08-19 14:23] #103 closed

[2019-08-20 06:34] rikschennink commented on #102
Now available in FilePond `4.5.0`

`npm i filepond@latest --save`

[code]

[2019-08-26 17:27] zusamarehan opened #105 "File not showing when using URL"
### Summary
I have a vue.js component which is working fine for all the file uploads. But the problem are
- Once the file is uploaded to 100% and saved in the my file system, the uploading label doesn't go away
- When I revisit the form, the uploading labels rotates and never goes away.

### How to reproduce

[code]
### Expected behaviour
I would really like to upload the file and then it should t

[2019-08-26 18:17] zusamarehan commented on #105
I got it working by the following code

[code]

[2019-09-03 09:11] icangku commented on #57
how about having many filepond and I want specifically setOptions

[2019-09-03 09:54] icangku commented on #57
how to set specifically if i have many fileponds

[2019-09-03 18:08] rikschennink commented on #57
@icangku you can set attributes on the component.

[2019-09-04 05:26] icangku commented on #57
can u give examle for setting server options on each component?

[2019-09-08 02:31] usb248 opened #106 "Revert problem"
Hi

Revert function doesn't send always correctly id

### How to reproduce
set a file (via :files prop), wait load function done, and click on revert button.
The request doesn't send an id, but just the value

### Expected behaviour
Delete request always send serverId like this : {id:  the_unique_id} (json string) and not just the_unique_id (plain value)
I have to do : data: isJsonString(serverId)

[2019-09-09 07:45] rikschennink commented on #106
Does your server return a unique id?

[2019-09-09 08:52] usb248 commented on #106
Yes when i revert, my server return a json.
But i don't understand why filepond send as plain text when i revert a file which is loaded by my load endpoint (file binary data)

[2019-09-09 09:26] rikschennink commented on #106
I think it's best if you read the server docs: https://pqina.nl/filepond/docs/patterns/api/server/

[2019-09-09 09:43] usb248 commented on #106
Already read. I only see `X-Content-Transfer-Id` header but it's not what I need

[2019-09-30 09:46] duyngha commented on #5
Thank you 👍 You saved my day.

[2019-10-01 21:38] wengtytt commented on #97
Need that as well~

[2019-10-02 08:22] hoanghiep1x0 opened #107 "I have a conflict and cannot use it with 2 settings in 2 components."
I use 2 component to upload photo.
one for posts and one for popup modal create a topic.
When setting the setting for vue-filepond, I had a background conflict when using method onload get id from server response.
this.model.image = response.id;
It seems that it cannot access _this from vue with the right component. I have a conflict and cannot use it with 2 settings in 2 components.

[code]

form

[2019-10-02 17:31] stevenschuette opened #108 "File background color not automatically updating on process finish"
### Summary
Hi,
I'm running into an issue in IE 11, with the file "card" not updating colors when the file has finished processing. Whether it is a success or error, the file "card" remains a grey color. Currently it will only update when the browse button is selected and/or you click any where within the FilePond instance.

![iexplore_RbSWDtSEuL](https://user-images.githubusercontent.com/6749048/

[2019-10-04 14:52] jakupi1 opened #109 "Cannot load images from server"
Hello, btw very useful plugin but how i can load images from server? Reading documentation i used load and fetch functions still not working,
**VueJS**
### How to reproduce

Using the existing code from documentation

fetch: (url, load, error, progress, abort, headers) => {
             // Should get a file object from the URL here
              // Can call the error method if something is wrong,

[2019-10-04 15:09] #109 closed

[2019-10-07 11:18] icangku commented on #42
no one was able to solve this?

[2019-10-08 12:28] rikschennink commented on #42
@icangku not without the requested information

[2019-10-08 13:30] rikschennink commented on #108
I don't know why this happens, if someone feels like investigating this I'm all ears.

IE11 is a very old browser, FilePond functions correctly and it states "upload complete" so the user can still see if everything went well. So fixing this currently isn't super high priority.

[2019-10-08 17:21] bgshu commented on #85
Guys I found a solution that worked for me!  In angular.json I removed "./node_modules/filepond/dist/filepond.min.css" and it compiled successfully. Unfortunately it removes the styling of the filepond, but I'm currently tweaking around removing other styles because there's obviously some sort of styling conflict.

[2019-10-09 08:24] MuizU opened #111 "Retrieve file without uploading to the server"
Hi, currently working on file-pond with no-ssr. I want to upload the file after a button click. How do I retrieve the file object from an on change function?

[2019-10-14 14:45] gregsherrid commented on #42
@icangku I wasn't able to figure this out for a while either. The solution I'm using right now is the `@init` handler on the FilePond object:

[code]

and

[code]

This does, however, cause the `[Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders.` to fire. @rikschennink is there a better way to do this?

[2019-10-15 05:05] rikschennink commented on #111
you can use the `onupdatefiles` to access the current file items array, each file item has a `file` property

[2019-10-15 07:35] MuizU opened #112 "Unable to have limit the maximum file size"
Summary
Hi, I'm having an issue with the file limit validation I have limited the file to 10 MB but I am still able to upload files greater than 10MB. It does validate for files based on the file type

![Capture](https://user-images.githubusercontent.com/35157872/66809855-c6e51b80-ef4b-11e9-8996-b6e8c25fc70e.PNG)

![Capture1](https://user-images.githubusercontent.com/35157872/66810224-6f937b00-ef4

[2019-10-16 05:20] icangku commented on #42
i use laravel as backend, so my problem was solved by disable csrf token, so i don't need to setup setOptions, but i don't think its the best solution.

[2019-10-16 05:55] rikschennink commented on #112
Have you added the file-validate-size plugin?

[2019-10-16 07:55] MuizU commented on #112
I added it. It works now

[2019-10-16 07:55] #112 closed

[2019-10-19 18:43] voidEvgeny opened #113 "revert is not called during use removeFile()"
Hello, files are deleted, but the revert request to the server does not come.

[code]

The revert request comes only when I click the delete button on the file.

How can I call revert manually to delete the file on the server? Thanks!

[code]

[code]

[2019-10-21 06:36] rikschennink commented on #113
Looking at the server config it seems there is no 'revert' end point.

[2019-10-21 12:20] voidEvgeny commented on #113
I use default revert point. When click on the cross, the file is deleted from the server, but when using the removeFile() function, file deletion from the server does not occur. How to fix it?

[2019-10-22 07:25] rikschennink commented on #113
The remove file is not enabled by default and can only be set to a custom function as it's a security risk to allow removal of local files.

[2019-10-22 23:50] voidEvgeny commented on #113
But I do not use the “local” file type.  I use the boot type “input” and “limbo”.  Why is revert not called when calling the removeFile() function?

[2019-10-25 11:02] Franz0410 opened #115 "Add file csv"
Hello,

I want that the filepond accept csv, in accepted-fyle-types i add ".csv, text/csv, application/csv" they accept the csv but the component report thet is not a csv, ther is an error.

![image](https://user-images.githubusercontent.com/51912494/67566273-aa08cf00-f727-11e9-82f2-f02ec4231b5b.png)

[2019-10-25 17:28] george-assan commented on #29
Hi,
Have a similar issue. Unless add file by remote url does indicate a direct link to the file on the server? is that it. Please help

[2019-10-26 05:52] voidEvgeny commented on #113
solved the problem like that:
[code]

[2019-10-26 05:53] #113 closed

[2019-10-26 08:50] rikschennink commented on #29
@george-assan the remote server needs the correct COS headers

[2019-10-28 07:14] rikschennink commented on #115
See this issue: https://github.com/pqina/filepond-plugin-file-validate-type/issues/2

[2019-10-28 07:14] #115 closed

[2019-11-09 16:18] xgenvn commented on #27
I myself found it a bit confusing while reading the doc (due to naming issue).
The event we can used are:
- `onprogressfile` -> `@progressfile` (a file finished uploaded without error)
- `onprogressfiles` -> `@progressfiles` (all files finished without error)

Hope this help others if it's not obvious explaining by the docs.

[2019-11-12 17:34] usama-asfar commented on #70
How to enable edting in Rectjs

[2019-11-12 21:26] shadesoma commented on #54
Please share the complete Nuxt.js set up.

[2019-11-12 21:27] shadesoma commented on #54
Please share the complete Nuxt.js set up.

[2019-11-12 22:30] shadesoma opened #116 "I can not connect to nuxtjs"
Please tell me how I can connect it through the plugin

[2019-11-13 08:00] rikschennink commented on #70
@usama-asfar This is the Vue repository. The [Doka.js package](https://pqina.nl/doka/) includes a working React example.

[2019-11-13 20:59] msoutopico opened #117 "Can't find uploaded files in the server"
Hi there,

I need some help, hopefully somebody can point me in the right direction.
### Summary
I have created a Vue.js test application with filepond, on a local server on Windows using WSL.

I have managed to make it work, with the code that you can see here: https://codesandbox.io/s/vue-filepond-live-demo-ucr0x

namely:
[code]

So, it seems I can successfully upload files I drop on the upload

[2019-11-13 22:29] msoutopico commented on #117
If I inspect the XHR request's parameters, I can see:
XHRPOSThttp://localhost:5000/api/
[HTTP/1.1 200 OK 69ms]

Request payload

-----------------------------153223093710823

Content-Disposition: form-data; name="test"

{}

-----------------------------153223093710823

Content-Disposition: form-data; name="test"; filename="be_BY.zip"

Content-Type: application/x-zip-compressed

PK

[2019-11-14 09:11] rikschennink commented on #117
I'd open the developer tools and inspect the upload request and response to `'api/'`, it seems the server responds with status code 200 OK. I'd advise to set a breakpoint on the server code to see if the request is received.

[2019-11-14 15:53] msoutopico commented on #39
I'm also having difficulties with this plugin, to accept a zip file that has a different extension. I was assuming the plugin is automatically registered when you create the component (in Vue), like this:

[code]

After that, do I still need to add `  FilePond.registerPlugin(		FilePondPluginFileValidateType	);`?

Thanks. Manuel

[2019-11-14 18:14] msoutopico commented on #117
Thanks, Rik. Yes, it gives me status 200 OK on `localhost:5000`. I'll try to figure out how to set the breakpoint in vscode to debug a file upload!

Another question. Is my assumption realistic to find the uploaded files in the "api" folder, even though my backend code in node.js isn't ready yet?

[2019-11-14 18:40] rikschennink commented on #117
No, you have to set up something that handles the upload. It's highly likely your local server is simply serving a page + 200 OK at `localhost:5000/api` and that causes FilePond to think the upload was a success.

[2019-11-15 15:00] msoutopico commented on #117
Great. Then that seems where the problem is. Thank you so much! I'll report back.

[2019-12-05 14:11] CMorrier opened #118 "Bug with FilePondPluginImageTransform"
### Summary
If the FilePondPluginImageTransform plugin is loaded in the Vue project, it is applied to all the filepond components, even if it's is unused.
If a file who is not an image is upload, an error is thrown.

### How to reproduce
https://codesandbox.io/s/vue-filepond-live-demo-qgdpy
Try to upload a PDF or another file who is not an image.

There is 2 components :
- FilePondWithTransform.vu

[2019-12-05 14:28] rikschennink commented on #118
Plugins are registered internally and are available to all instances. You can set the `allowImageTransform` prop to `false` on a specific instance to disable it.

[2019-12-05 14:32] CMorrier commented on #118
I already tried this, the problem is still present.

Here is the snippet updated with the prop : https://codesandbox.io/s/vue-filepond-live-demo-gsl3o

[2019-12-05 14:49] rikschennink commented on #118
@CMorrier It turns out this was a bug in the transform plugin, just published version `3.6.1` it should fix this.

[2019-12-05 14:58] CMorrier commented on #118
Problem solved with `3.6.1` thank you very much.

[2019-12-05 14:58] #118 closed

[2019-12-06 11:47] kiwo12345 opened #119 "v-on:updatefiles fires twice"
If I add the `v-on:updatefiles` method I can see that it fires twice every time a file is added. It only fires once if a file is removed.

### How to reproduce
Add `v-on:updatefiles="handleFilePondUpdateFile"`

[code]

### Expected behaviour
Fire once

[2019-12-09 18:56] aaveidt commented on #51
@rikschennink can you tell more detail about using `onload`?
if i parse json in `onload` method then how do i send data to `onprocessfile` ?

[2019-12-12 08:40] rikschennink commented on #119
There's an update to one of the files inside the array, it currently fires multiple times to keep track of all these changes.

[2019-12-12 12:44] PauloViniciusBaleeiro opened #120 "Error installing filepond on Docker"
I´m getting error when installing filepond from package.json on Docker(version 19.03.5-rc1). On the package, I updated filepond version to 4.8.2 and now, on npm install step on docker, I´m getting the error below:

npm WARN tarball tarball data for filepond@4.8.2 (sha512-JTSvxTQGbCXMZGoPOIjCKImv+Al3Y5z3f6gRoUGlQdqpnMHdnwOV0WG3hRCVBDN64ctAN3pgKtofkWfsnwwoTA==) seems to be corrupted. Trying one more

[2019-12-12 12:46] rikschennink commented on #120
Weird. I just ran a quick install to test and it works as intended
![Screenshot 2019-12-12 at 13 45 54](https://user-images.githubusercontent.com/1132575/70713212-c9fb4e80-1ce5-11ea-8197-30ef61b72eb8.png)
.

[2019-12-12 13:13] PauloViniciusBaleeiro commented on #120
I'll close, sorry about yout time. I updated the package.json manually and the package-lock.json file was wrong(manually).
Thnak you.

[2019-12-12 13:13] #120 closed

[2019-12-22 11:34] injitools commented on #85
npm i -D autoprefixer@9

[2019-12-23 17:51] parkaran opened #121 "Chrome aw-snap"
### Summary
Hi, i'm getting the Chrome aw-snap page when using file pond in the vuetify v-window component.

i have a file-pond in the step one and when i go from step 1 to 2 and back multiple time chrome gives the aw-snap page.

i'v also created a codesandbox to reproduce the problem:
https://codesandbox.io/s/amazing-smoke-bpbq5

| Environment  | Version
|------------- | -----------
| OS

[2019-12-29 15:10] vhcraig opened #122 "$attrs/$listeners is readonly"
### Summary
Using FilePond in Vue component leads to unexpected behaviour. Specifically `[Vue warn]: $attrs is readonly.` and `[Vue warn]: $listeners is readonly.` (image in additional information below). My understanding is that this is very common when different versions of Vue are used. In the project I am working on there are a number of "sub modules" or components. This is inline with Laravel

[2019-12-29 15:23] vhcraig commented on #122
I've switched it out with vanilla FilePond and can confirm the issue is related to the Vue adapter or framework.

[2019-12-29 18:40] rikschennink commented on #122
Hi, this looks like a code format warning, maybe you can instruct the framework to ignore the FilePond adapter component?

[2019-12-29 20:01] vhcraig commented on #122
I recognise that it is a warning and will not reflect in a production build but the error exists for a very good reason. In this instance, it is because two instances of Vue exists which would add an unnecessary amount of overhead for a file uploader.

I'm happy for you to close the issue but do not believe this adapter lives up to the standard of FilePond as a while.

I'd be open to submitting a

[2019-12-29 23:06] madscientistproductions opened #123 "How to reference specific child vue-filepond instance when multiple exist?"
Hi there,

I have a specific use case whereby I have a wrapper "upload-component" and within that, I have a number (variable) of vue-filepond components that are added depending on the number of "slots" passed in as a prop to the wrapper.

My template looks something like this:

[code]

The struggling point I'm having right now is that while the actual file selection and upload works as-is for mul

[2019-12-30 07:16] rikschennink commented on #122
@vhcraig I'm always interested in that.

[2019-12-30 07:30] rikschennink commented on #123
Hi, you could assign a unique id and then on the processfile handler you store the unique id and the files.

[2019-12-30 09:04] vhcraig commented on #122
Great, I'll leave this issue open and find some time in the next week or so.

[2019-12-30 09:05] #96 closed

[2019-12-30 09:08] #92 closed

[2019-12-30 09:08] #94 closed

[2019-12-30 09:09] #106 closed

[2019-12-30 09:10] #102 closed

[2019-12-30 15:34] chasegiunta commented on #121
I also am seeing this error. Similar situation: being used in a multistep form, and upon navigating back to the step where filepond is being used, and trying to navigate away from that step, filepond crashes the whole tab, sometimes the whole browser.

[2019-12-30 15:41] rikschennink commented on #121
Hm, weird. Maybe it's the MutationObserver. I've tried to reproduce it in the code sandbox but it's working correctly so far.

[2019-12-30 15:42] chasegiunta commented on #121
@rikschennink Just to clarify, vuetify is not required. Essentially the very minimum to create this would be to mount the filepond component, hide it with v-if/v-show, show it again, and then hide it again.

[2019-12-30 15:47] chasegiunta commented on #121
I can't recreate it either with the codesandbox oddly enough. I'll try to create my own repro.

[2019-12-30 15:48] rikschennink commented on #121
@chasegiunta that would be very much appreciated. If you can, please copy past the FilePond component directly to the sandbox (instead of the npm module), that makes it easier to edit the code.

[2019-12-30 17:18] chasegiunta commented on #121
@parkaran wondering if you're still seeing this error on your end, and in your codesandbox you shared.

@rikschennink I'm unable to reproduce this on my own in codesandbox. There is a some things to note though that I noticed debugging on my local project:

I'm using a multistep form. Changing steps on this form uses not only Vue's transitions, but also https://github.com/guanzo/vue-smooth-reflow

[2019-12-30 20:29] parkaran commented on #121
A month ago didn't had any issue until chrome update (79.0.3945.79) came.

@chasegiunta i can't reproduce every time the error in the code sandbox, but it happens sometimes if you use 'open in new window' option and try navigating thru step 1 and 2 multiple times.
But in the project i'm working on it happens EVERY time when i have a file-pond in a multi step form, it may be because i have a lot of

[2019-12-31 07:25] rikschennink commented on #121
@chasegiunta thanks for the effort! 🙏

@parkaran I just retested using open in new window on Chrome 79 on MacOS and on Windows but unfortunately it doesn't trigger the error.

It's a weird bug, the multi-step component simply hides FilePond using `display:none` (it doesn't remove it from the DOM so the MutationObserver is not causing this) and while FilePond has an active draw loop running in the

[2019-12-31 10:39] cron13 commented on #116
[code]
[code]

[2020-01-05 11:24] marbuser opened #130 "addFile "Can't load URL""
# Summary
I'm using S3 to store my images, and as far as I'm aware filepond allows remote urls? When calling `addFile` with the URL for my "initial files" it constantly replies with an error of;
[code]

Which isn't very helpful when it comes to debugging. I've tried setting the option `{ type: 'local' }` but that doesn't seem to work.

### How to reproduce
This is the code I'm using;
[code]
### Ex

[2020-01-06 07:08] rikschennink commented on #130
Does your developer console show any errors?

[2020-01-06 14:28] kdaghari commented on #130
I'm not OP but I'm having the same issue. As far as the dev console is concerned that's the only error it shows. Here's a more detailed look:

![screen](https://user-images.githubusercontent.com/50710559/71823944-b2bb4100-3098-11ea-8599-82add0b084db.png)

Note: have tried using the `fiels` prop, while it does not display the preview, it raises no error.
Also, have tried https://github.com/pqina/fi

[2020-01-06 14:37] rikschennink commented on #130
This is the error thrown by the browser:

**Access to XMLHttpRequest at 'https://screenrant.com/wp-content/uploads/2017/07/Rick-and-Morty.jpg' (redirected from 'http://screenrant.com/wp-content/uploads/2017/07/Rick-and-Morty.jpg') from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.**

Set the appropriate CORS headers on

[2020-01-08 11:21] NikEdu8 opened #131 "How can I use Hooks(beforeRemoveFile) in vue app?"
Hello fellow developer!

How can I use Hooks(beforeRemoveFile) in vue app?

[2020-01-08 22:30] parkaran commented on #131
Hello @NikEdu8,

`<file-pond :beforeRemoveFile="beforeRemove"/>`

and in the method `beforeRemove` return `false ` to prevent removal, or return a `Promise  `and resolve with `true `or `false`

check this for more information on other hooks: https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#hooks

and this for callbacks:
https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#c

[2020-01-09 17:34] NikEdu8 commented on #131
Thanks)

[2020-01-15 15:16] putrapurba opened #132 "Grid style need documented to not use style scope"
Just found out grid style not work with style scope. thanks

[2020-01-15 22:54] putrapurba opened #133 "Plugin is not a function, Vue Typescript"
Hi!
I'm using vue along with typescript, but when I adding plugin I got error Plugin is not a function. Since I'm using typescript, looks like there is no module declarations for all plugins so import it with require.

[2020-01-16 07:43] rikschennink commented on #133
@Hawxy can you help with this?

[2020-01-16 08:35] Hawxy commented on #133
@rikschennink I'd recommend merging in https://github.com/pqina/vue-filepond/pull/129/

The plugins don't have type definitions so the error isn't fixable until they're added.

[2020-01-16 08:48] rikschennink commented on #133
@Hawxy Thanks! I've merged the PR and will push a new release shortly.

[2020-01-16 09:00] rikschennink commented on #133
@Hawxy @putrapurba done

[2020-01-16 10:54] DavidRouyer commented on #133
FYI here is how I initialize vueFilePond in TypeScript:
[code]

[2020-01-16 15:42] putrapurba commented on #133
are FilePondPluginFileValidateSizeProps and FilePondPluginFileValidateTypeProps custom interface?

[2020-01-16 15:44] putrapurba commented on #133
It's still not work, this is my code:

[code]

[2020-01-16 17:06] DavidRouyer commented on #133
Yes, I should create a PR to add them.

filepond-plugin-file-validate-size.d.ts
[code]

filepond-plugin-file-validate-type.d.ts
[code]
In your component:
[code]

[2020-01-17 02:01] Hawxy commented on #133
https://github.com/pqina/vue-filepond/pull/134 fixes the signature to match the upstream type.

After that's merged in you should just be able to do

[code]

The ts-ignores can be removed whenever the plugins expose types.

[2020-01-18 12:34] Hawxy commented on #133
Can confirm this is fixed 👍

[2020-01-19 14:25] putrapurba commented on #133
Great! Now it's work! thanks for fast response!

[2020-01-19 14:25] #133 closed

[2020-01-19 14:33] putrapurba opened #135 "How to create multiple instances and multiple setOptions in Vue way?"
Hi!
How to achieve as the title said? I have tried to put `:server` on component but not work. It work when I use setOptions on script, but I can't figure out how to make multiple setOptions. I can only make it work only in vanilla JS.

[2020-01-19 15:28] marcoippolito commented on #117
Hi!,
I'm having the same problem... where is the uploaded file located?

This is the vue file:

    <template>
      <div id="component">

        <file-pond
            name="test"
            ref="pond"
            label-idle="Drop files here..."
            allow-multiple="true"
            v-bind:server="myServer"
            v-bind:files="myFiles"
            v-on:init="handleFilePondInit"/>

[2020-01-20 07:26] rikschennink commented on #135
There is one "global" `setOptions`, you have to pass props to the component to override these options.

This should work:

[code]

[2020-01-20 07:28] rikschennink commented on #117
@marcoippolito This is a mock upload, see the `myServer` process method, the file is not being uploaded as long as you don't point this to your server and your server doesn't handle the upload.

[2020-01-20 13:42] webjohan commented on #121
I've recreated a "Aw, snap!" moment. Are you using multiple Filepond components? Like uploading two different images to two different Fileponds?

[2020-01-20 13:55] webjohan commented on #121
We use ngx-filepond. It's a really weird case.
To recreate:
Use multiple filepond inputs. They should have the same name for this to "work" (which is default if you use multiple "fileponds" and don't set each name different.
You also have to put the "fileponds" inside an element that you will toggle using transitions.

This is the css that causes every thing to go snap:
.filepond--root .filepond--

[2020-01-21 12:25] rikschennink commented on #121
@webjohan Thanks for creating the test case, a couple clicks and indeed it crashed the browser. Going to dive in to this later this week.

[2020-01-21 13:45] webjohan commented on #121
This is most likely a Chrome issue rather than Filepond. I've also filed a bug report with the Chrome team.

[2020-01-22 19:05] rikschennink commented on #121
@webjohan Can you post a link to the issue

[2020-01-22 19:12] rikschennink commented on #121
I'll close this one and re-open the referenced issue (as it's unrelated to Vue), let's move the discussion there.

[2020-01-22 19:12] #121 closed

[2020-01-23 07:46] webjohan commented on #121
@rikschennink I filed it in the browser and go no feedback on any issue number.

[2020-01-23 07:47] rikschennink commented on #121
@webjohan okay, no worries 👍

[2020-01-23 11:25] webjohan commented on #121
But now I’ve filed a “real” issue. I’ll post the link after lunch.

[2020-01-24 22:42] msencenb commented on #122
I have been running into this in one of my projects as well, which appears to be related to a double import of Vue as described by @vhcraig.

I'm not yet confident enough in my Vue skills to understand the nuances of Components vs Plugins vs Directives and which one FilePond should be (Component as a bet I suppose). This project https://github.com/Akryum/v-tooltip/blob/master/src/index.js seems to

[2020-01-25 07:40] vhcraig commented on #122
Sorry for the delay on my PR, it's been a rough start to the year. I fully intend on assisting in resolving this issue. You're more than welcome to take a crack at it if your issue is time sensitive, otherwise I'd suggest using the vanilla JS FilePond.

The FilePond Vue adapter is fairly simple so a Component would probably make sense in this case. If you have a look at the PR linked in my initial

[2020-01-28 16:29] Lerudan opened #136 "Browser Compatability"
Hi!
Since vue.js has compatability to older browsers than filepond does, is there any way to use the Filepond.supported() function with the vue component?
Or did I miss something in the docs and the vue component ads the missing support for IE 9 and IE 10?
Thanks in advance!

[2020-01-28 17:01] rikschennink commented on #136
Hi, You can use the supported method, but FilePond won't work on IE9 and/or IE10, in those cases the `supported` method returns `false`

[2020-01-28 17:12] Lerudan commented on #136
Thanks for the fast answer.

Yes, I got that, but where can I find the supported method since I only have the filepond vue component instance at hand?

[code]

This only throws

to the console.
Equally, `this.$refs.pond.supported()` does not work, though this isn't really surprising.

Thanks in advance.

[2020-01-29 07:18] rikschennink commented on #136
The `supported` method is currently not exported by the component. The component won't have a `_pond` property if supported returns false.

[2020-01-29 15:57] #136 closed

[2020-02-14 03:28] mosestoh opened #138 "How can I add required validation on filepond vue?"
I read on this docs : https://github.com/pqina/vue-filepond

I try to add like this :

[code]

multiple, validation file type, max file works

But, required does not works

How can I solve this problem?

[2020-02-14 07:32] rikschennink commented on #138
I think you might have to set it as a `v-bind:required="true"` not a 100% sure.

[2020-02-14 13:42] svennerberg commented on #27
Actually I think it's:

[code]
This tripped me up too, but @xgenvn pointed me in the right direction

Another thing that tripped me up at first was that the first argument it returns is an error object (which is null if everything went well) and the uploaded file as the second argument. A bit unconventional I think.

[2020-02-14 13:52] rikschennink commented on #27
@svennerberg It's based on node.js readFile

[code]

https://nodejs.org/api/fs.html#fs_fs_readfile_path_options_callback

[2020-02-14 13:53] svennerberg commented on #27
@rikschennink Ah, that explains it! Thanks!

[2020-02-15 23:09] mosestoh commented on #138
@rikschennink It does not works

[2020-02-17 07:32] rikschennink commented on #138
I just tested this to be sure.

[code]

![Screenshot 2020-02-17 at 08 30 31](https://user-images.githubusercontent.com/1132575/74632524-d8d80480-515f-11ea-8a4a-aa3b7f7b9854.png)

[2020-02-17 07:32] #138 closed

[2020-02-28 21:17] gorbunovav opened #139 "Status instance property is not exposed"
### Summary

The `status` property is declared in the `VueFilePondComponent` class, but the value is always `undefined`.

### How to reproduce

Add the component to the page, access it via the reference and check it's `status` property value.

Check the value of the property of the actual FilePond instance in the `_pond` field - it will return the correct status.

### Expected behaviour

The value

[2020-03-10 12:40] Lori0107 opened #140 "Custom chunks upload"
### Summary

Hi Everyone,

I'm using Filepond with VueJS and Ruby on Rails to create a video uploader, I'm using chunks to upload it. I would like to make my chunks upload "resumable".
So, I have 2 questions:

- Is it possible to send additional custom parameters on the initial POST which initialize the chunks upload (for instance: send the Filename), and not only the [Upload-Length] parameter ?

[2020-03-14 09:03] demortx commented on #94
Good afternoon, there’s the same problem, I think that it’s not right that it’s not possible to specify the maximum permissions for the poster, correct it, at the moment it is good but I had to refuse it because of this annoying error

[2020-03-17 11:46] SalkiDixit commented on #94
@rikschennink Hi, I am trying to use Filepond in my aurelia app, functionality working fine but style is not getting apply, i tried a lot.
please assist.

[2020-03-17 12:16] rikschennink commented on #94
@SalkiDixit i don’t see how this is related to this issue. I suggest asking this as a question on stack overflow.

[2020-03-17 12:17] rikschennink commented on #94
@demortx feel free to submit a PR

[2020-03-18 15:53] rikschennink commented on #140
Resuming is supported, that's the whole reason chunk uploads are there, please read docs here:
https://pqina.nl/filepond/docs/patterns/api/server/#process-chunks

[2020-03-19 17:32] yourtechnicaldeveloper commented on #130
Hi @rikschennink
Here is my code for the  file pond add files from google cloud (public access bucket)
[code]
as we can see from the screenshot that filename is correct but unable to load it see attached below if you can help in this case many thanks
![image](https://user-images.githubusercontent.com/50608000/77096327-34363480-6a35-11ea-8492-5a3033ab9d84.png)

[2020-03-20 08:17] rikschennink commented on #130
@yourtechnicaldeveloper you probably have to configure CORS headers on your server.

[2020-03-20 08:17] #130 closed

[2020-03-21 23:08] igor-duspara opened #142 "Firebase storage and addFile"
### Summary
I want to add my file from Firebase storage url. When i use
[code]
i got always this error:

![error](https://i.imgur.com/un0mXXP.png "Error")

[2020-03-22 05:36] yourtechnicaldeveloper commented on #130
@rikschennink
Thanks for the reply
I have already enabled CORS headers on the server as well as google cloud bucket and moreover google bucket has public rea access and I am able to load these images in other javascript code any clue here? Thanks for your support.

[2020-03-22 08:06] rikschennink commented on #142
I suspect you need to configure your server to expose the correct CORS headers

[2020-03-22 12:23] #142 closed

[2020-03-23 06:36] TawsifKarim opened #143 "How to Crop image and then start the upload with nuxt js?"
This is a really cool library. But after integrating it with my nuxt js app i am having hard time finding a solution to crop an image and then upload. Shown on the example
[Profile Picture Code](https://pqina.nl/filepond/#profile-picture-code)

I have gone throw some of the documentation and its a lot to read.
Here is my set up:

[code]
[code]

[2020-03-23 07:18] rikschennink commented on #143
It's unclear if you're after "editing" the image, that happens when clicking the button with the pencil on it, OR if you're after automatically cropping the image. Please elaborate.

[2020-03-23 12:46] TawsifKarim commented on #143
Currently filepond starts to upload the image as soon as I select one. I want to crop it first then upload it with a button click just like the  [demo](https://pqina.nl/filepond/#profile-picture-demo) shown here.
 An example would be helpful.

[2020-03-23 12:59] rikschennink commented on #143
set `instantUpload` to `false`?

[2020-03-23 14:01] TawsifKarim commented on #143
Thank you that worked but the setOption in the mounted() method did not work. its sending the file to the url http://localhost:3080/file-pond.. Am I missing something?

[2020-03-23 14:05] rikschennink commented on #143
Best to expose it like:

[code]

[2020-03-23 14:06] TawsifKarim commented on #143
Thank you :)

[2020-03-23 14:06] #143 closed

[2020-03-23 19:33] SalkiDixit commented on #94
HI,
I have asked a question on stakeoverflow.
Please have a look,
I am stuck

*Rajul Dixit*

*Software Developer*
Hyperstate Technology, Pvt, Ltd,
Pune, India
Mo : +91 7906517003, +91 7219758652

On Tue, Mar 17, 2020 at 5:47 PM Rik <notifications@github.com> wrote:

[2020-03-23 19:36] SalkiDixit commented on #94
Add custom 'li' element to existing ul list in filepond
<https://stackoverflow.com/questions/60820397/add-custom-li-element-to-existing-ul-list-in-filepond>
*Rajul Dixit*

*Software Developer*
Hyperstate Technology, Pvt, Ltd,
Pune, India
Mo : +91 7906517003, +91 7219758652

On Tue, Mar 24, 2020 at 1:03 AM Rajul Dixit <rajul@hyperstate.tech> wrote:

[2020-03-23 19:37] SalkiDixit commented on #94
Sure, I have asked over there on stackoverflow..please have a look.
Add custom 'li' element to existing ul list in filepond

[2020-03-24 03:28] yourtechnicaldeveloper opened #144 "addFile issue"
@rikschennink
Thanks for the reply
I have already enabled CORS headers on the server as well as google cloud bucket and moreover google bucket has public rea access and I am able to load these images in other javascript code any clue here? Thanks for your support.

_Originally posted by @yourtechnicaldeveloper in https://github.com/pqina/vue-filepond/issues/130#issuecomment-602151001_

[2020-03-24 07:41] #144 closed

[2020-03-24 07:41] rikschennink commented on #130
@yourtechnicaldeveloper please don't double post. I don't have a clue, but again, this is very likely a server configuration issue. I can't help with that.

[2020-03-24 10:46] Atiladanvi commented on #94
I will waiting for PR from a front-end expert

[2020-03-25 08:54] cloydlau opened #145 "Please update the filepond dependency to solve a confirmed bug"
#87 # Summary

A confirmed filepond bug: https://github.com/pqina/filepond/issues/465
It's said to be fixed in 4.13.0.
So please update the filepond dependency to 4.13.0 to solve this problem, appreciated.

[2020-03-25 09:00] rikschennink commented on #145
FilePond is a peer dependency, so you can run `npm i filepond@latest` to get the latest version.

[2020-03-25 09:00] #145 closed

[2020-03-25 09:38] cloydlau commented on #145
My filepond dependency is already latest(4.13.0), but this bug is still reproducible. So I check the package.json of vue-filepond@6.0.2 and I found the version of filepond dependency is 4.9.3.

[2020-03-27 14:56] orlanrepo commented on #116
I wasted so much time looking for the answer...

/plugins/file-pond-plugin.js
[code]

In nuxtjs, add to plugins: `{ src: '~plugins/file-pond-plugin.js', ssr: false }`

In template eg.:

[code]

[2020-04-03 14:02] Peppe87 opened #146 "What is the correct way to preload files while integrating with Vuex?"
Hi! Thank you for this nice plugin.

I'm trying to understand how preload the files in the most correct way.

I've a dynamic component, put inside a multistep form, so everytime the user return to the step with the filepond input, it's necessary to restore the previosly saved files.
Those files are put inside vuex, they are not uploaded until the form is definitively submitted. Thus I don't think

[2020-04-07 06:39] rikschennink commented on #146
You could set up a custom server API that binds the files, that way you could use the `server` property, the property is called `server` but I've been wanting to rename it to `store` so you can use it to upload files to a server or store files locally or restore files from local state, it's basically a way for FilePond to send and receive files.

[2020-04-07 21:37] ddsky opened #147 "Basic file upload not working (from tutorial)"
### Summary
There are two fields with the same name in the post request, one is `{"color":null}` which I don't know where it would come from. This is the post request by filepond after simply dropping one image:

[code]

### How to reproduce
Just use the sample HTML code from this tutorial:
https://pqina.nl/filepond/docs/patterns/frameworks/vue/

Select an image and you can see the faulty post req

[2020-04-08 06:39] rikschennink commented on #147
Please see: https://pqina.nl/filepond/docs/patterns/api/server/#process

[2020-04-08 06:39] #147 closed

[2020-04-08 12:28] Peppe87 commented on #146
Thank you for the answer.
I was indeed mislead by the name "server", so I didn't think it could be also  "local". Probably would be good to at least specify this thing in the official docs.

However, I have a doubt, after reading a bit more the docs (especially server API), some other issues and doing a bit of testing with [hello world example](https://github.com/pqina/vue-filepond/blob/d917997529

[2020-04-09 05:55] rikschennink commented on #146
I think both approaches are fine, there's at this point no real "one solution" I could advise

[2020-04-10 11:08] juno0424 commented on #22
The easiest way to include CSRF token in headers is apply it on server binding.

[code]

at the data() set `csrfToken: document.querySelector('meta[name="csrf-token"]').content`

[2020-04-16 09:22] Peppe87 commented on #146
Ok, I see. Thank you for the assistance.
Then for this project I'll continue using  "my" approach using v-model - as it works and it's already coded.

[2020-04-16 09:22] #146 closed

[2020-04-19 13:00] saeedegh commented on #37
i added  **cosole.log('test');**  in the onResponse() method but it doesen't display any thing in console after uploading file.can you help me?

[2020-04-25 10:45] themodernpk opened #148 "Uncaught TypeError: self.postMessage - console errors"
### Summary
Filepond keeps generating console errors like the following:
[code]

### How to reproduce
Fairly simple usage of filepond:
https://gist.github.com/modernpk/16e61547332ed8eae016483caad63bf9

### Expected behaviour
I am using hot reload, which is breaking because of these console errors. If I remove the filepond, everything seems working as expected.

### Additional information

| Enviro

[2020-04-27 06:53] rikschennink commented on #148
It sounds like a build script might be messing up the WebWorker functions.

These calls:

![Screenshot 2020-04-27 at 08 51 48](https://user-images.githubusercontent.com/1132575/80342411-6f155e80-8864-11ea-9369-43a2c79fae65.png)

Maybe there's a way to exclude FilePond and its plugins from this?

[2020-04-27 08:55] santicros opened #149 "Get id on updatefiles from multiple instances"
Hello!!

I have a page with multiple dynamic instances of filepond, where the user should be able to add more or delete them (they are files for different sections).

I'm using the @updatefiles method, but is there a way to pass a custom id or get it from the filepond ref?
Now I have it as @updatefiles=handleFilePondUpdateFile, but with this I don't know from which instance is the file coming from

[2020-04-27 12:07] santicros commented on #149
If it can help anyone, for now the fix I've found is to use the event listeners of the Filepond instance, not from Vue.

Something like:
[code]

And then I have a method:
[code]

[2020-04-27 17:59] Etheryte opened #150 "Type check failed for prop "labelFileProcessingError""
### Summary

As covered [here](https://github.com/pqina/filepond/issues/229#issuecomment-463110194), `labelFileProcessingError` can be either a string or a function.
Functionally this works, however, the Vue prop types incorrectly warn in development mode:

### How to reproduce

Set `labelFileProcessingError` as a function:

[code]

Note the above warning is logged when running in **development**

[2020-04-28 06:30] rikschennink commented on #150
@Etheryte Happy to accept a PR

[2020-04-28 06:37] #131 closed

[2020-04-28 06:37] #135 closed

[2020-04-28 06:38] #132 closed

[2020-04-28 06:39] rikschennink commented on #149
@santicros glad to read you found a workaround 👍

[2020-04-29 13:11] rugni opened #151 "DELETE request has empty object as body"
### Summary

I've set my filepond server on my file pond template like:
`server="http://localhost:3000/imageUpload"`

When I upload the image, I return an id (here 1234) as described in the docs.
This Id is stored in my filepond file object as expected:

`{getMetadata: ƒ, setMetadata: ƒ, abortLoad: ƒ, abortProcessing: ƒ, …}
id: "8x1cmi9da"
origin: 1
serverId: "1234"
...`

So far all good.

I can a

[2020-04-30 08:23] rikschennink commented on #151
Hi, can you see the body of the request in the browser dev tools network tab?

[2020-04-30 09:15] rugni commented on #151
### Solved
Yes, I can see the request in the browser dev tools.
I figured out that the issue was in the backend:

The delete request is sending the body as plain text. I'm using the express middleware body-parser to get the body of requests. It was configured to only parse request payloads that are json objects:

`app.use(bodyParser.json());`

by adding the following Line, the body is accessible a

[2020-04-30 09:15] #151 closed

[2020-05-11 20:13] modernpk commented on #42
anyone found solution to this??

[2020-05-12 06:15] rikschennink commented on #42
@gregsherrid @modernpk I don't understand why you wouldn't use a bind? Like how the files property is set in the vue example on the readme?

[2020-05-12 06:43] modernpk commented on #42
@rikschennink that's what I have already tried https://gist.github.com/modernpk/5821b0a0ea131e051282bb74ccbf5ec5. The function I am trying to call in ```onload``` is being replaced by last ```fond-pond``` component on the same page:
[code]
So, multiple instances on the same page replace the `server` configuration even if we use `v-bind`.

[2020-05-12 07:05] modernpk commented on #42
It may work fine for 2 instances, as soon as you add 3 or more it overwrite the `server` configurations.

[2020-05-12 10:40] dev7ch opened #152 "Pasting formatted text into unrelated text field causes "Ghost Image" uploads"
Hello fellow developer!

💡 If you want to submit a feature request, go right ahead!

🐜 If you've found a bug, please use the template below to report it.

**The more details you provide, the more inclined other developers are to help you and the faster the problem is resolved.**

If you think the issue is related FilePond itself and not the Vue framework or adapter, please submit the issue in the

[2020-05-13 09:21] rikschennink commented on #42
@modernpk this does seem to work:
https://codesandbox.io/s/vue-filepond-multiple-instances-8fl1d?file=/src/components/FilePondDemo.vue

logs A, B, C when dropping a file in each of the filepond instances

[2020-05-24 18:06] falahatiali opened #153 "use Doka beside file-pond"
How can I use Doka with filepond  in development?
is there any ways for using  it as free?

[2020-05-24 18:29] rikschennink commented on #153
Hi, [Doka](https://pqina.nl/doka/) is only available in the commercial package itself, so you need to purchase the product before you can add it. There’s a 60 day money back guarantee to cover any disappointments.

[2020-05-25 08:33] falahatiali commented on #153
@rikschennink yeah it's a little expensive :)

[2020-05-25 14:41] falahatiali opened #154 "upload file to server"
How can I upload files in the server?
I have set server property in the file-pond tag. as following:

[code]
but when I want to get file on the server-side I have gotten the null value.
or I have used as following

[code]
and in the script section:

[code]

but I am not able to upload on the server. I think its documentation hasn't described these problems very well.

[2020-05-25 15:00] rikschennink commented on #153
Fully understand, the price will not match every use case but for companies it’s very fair (compare to developer hourly rate).

[2020-05-25 15:00] #153 closed

[2020-05-25 16:22] rikschennink commented on #154
FilePond uploads both a json string and a file object, maybe that’s what’s wrong?

[2020-05-25 19:03] falahatiali commented on #154
[code]

[2020-05-25 20:53] gdinko opened #155 "Really bad documentation and very buggy but great script"
Hello fellow developer!

💡 If you want to submit a feature request, go right ahead!

🐜 If you've found a bug, please use the template below to report it.

**The more details you provide, the more inclined other developers are to help you and the faster the problem is resolved.**

If you think the issue is related FilePond itself and not the Vue framework or adapter, please submit the issue in the

[2020-05-26 04:57] rikschennink commented on #155
Closed because insufficient details and doesn’t follow issue template.

[2020-05-26 04:57] #155 closed

[2020-05-26 05:02] rikschennink commented on #154
Does it log “starting” to console?

Do you see the upload request in your dev tools network console?

If so, do you see the payload in the request or not?

If you see it, the server isn’t handling the file and it’s a server issue. If you don’t see the request but see “starting” it’s a problem with your axios implementation in the process function. If you don’t see starting, it’s a FilePond config

[2020-05-26 05:40] falahatiali commented on #154
I see starting but I have so ambiguous. first can I set server property alone without binding? I mean in the <file-pond ... /> tag I set server="/api/user/avatar/upload" ?
what is the difference between them?

should I implement process, load, and ....?

second: what is the role of other methods such as v-on:addfile="handleOnaddfile" ?
should we implement them?

[2020-05-26 06:51] gdinko opened #156 "Metadata plugin doesn't work"
### Summary
Hi, i am building laravel app for image upload to products and i need to pass product_id to backend to know for witch product are the images that are uploaded.

### How to reproduce
Fresh laravel app. Install filepond and plugins with npm. Create new vue component. Init FilePond and plugins.

`import vueFilePond from 'vue-filepond';
import FilePondPluginFileValidateType from 'filepond-

[2020-05-26 14:07] rikschennink commented on #156
Hi, by default metadata is supplied with the same name as the file field, if you want to change that you have to supply a custom server.process method.

It’s possible that the metadata plugin doesn’t pick up data properties on the Vue component, I don’t think those are passed to the internal DOM node, so that would indeed need to be fixed.

[2020-05-28 07:42] rikschennink commented on #154
This part is not needed as it seems your posting with axios.
[code]

Next step:

[2020-05-29 09:26] modernpk commented on #148
@rikschennink I have no idea, do you?

[2020-05-29 09:29] rikschennink commented on #148
@modernpk happy to take a look at a public test case

[2020-05-29 09:47] modernpk commented on #148
@rikschennink thanks for your quick response. I fixed it by redefined `self` (using `let` keyword, e.g `let self = this` instead of `self = this`). It has nothing to do with `filepond`.

[2020-05-29 10:12] modernpk commented on #42
Nothing to do with `filepond`, I created a Vue Component and called incorrectly which actually was not overriding the `server` props.

[2020-06-01 11:51] rikschennink commented on #156
Just tested, it doesn't pick up the data attributes, best to use the `oninitfile` callback: https://codesandbox.io/s/vue-filepond-metadata-bpmlg?file=/src/components/FilePondDemo.vue

[2020-06-01 15:38] Droog159 commented on #154
It working,delete it , i get reponse

[2020-06-21 21:44] Kurbezz opened #158 "Export all types"
When use vue-filepond with typescript can't define type of callbacks, server option and etc.

Export all types for better types checking with typescript.

Example:

[code]
or can't do
[code]

[2020-06-22 08:42] Kurbezz commented on #158
@rikschennink Is doesn't vue-filepond problem. It is can't import filepond types for export too.

[2020-06-28 14:16] rikschennink commented on #158
Maybe importing them by referencing the types file works?

[code]

[2020-06-28 15:54] Kurbezz commented on #158
![image](https://user-images.githubusercontent.com/14016995/85952285-c0c78b80-b970-11ea-9648-eda638bc415c.png)

[2020-06-28 17:14] rikschennink commented on #158
Looks like you're still importing from `'filepond'`?

[2020-06-28 17:57] Kurbezz commented on #158
![image](https://user-images.githubusercontent.com/14016995/85954672-e14c1180-b981-11ea-89d8-49b04940cc03.png)

[2020-07-06 09:35] #158 closed

[2020-07-10 19:14] hanzlahabib commented on #31
@lpeliberty  how do you retrieve file once its set to state?
i tried to follow the official documentation examlple but at time of assigning file in data object it gives
[code]

[2020-07-19 23:52] marcosalberto1991 commented on #8
la mejor solución es mirar en la consola y me indica que debo instalar los siguiente paquetes

npm install --save filepond-plugin-file-validate-type
npm install --save filepond-plugin-image-preview

en el manual oficial no muestra claramente los siguiente paquete que dedo instalar

import vueFilePond from 'vue-filepond';

[code]

[2020-07-20 13:50] uwejan opened #163 "Missing header maybe."
My server using postman works, but not on my vueJs.
i keep getting this error.
[code]
where i try to get the bounderies from the header content type.
Is there a missing header that needs to be added?

[2020-07-20 15:18] rikschennink commented on #163
Closed because doesn't follow issue template. Please use Stack Overflow for questions.

[2020-07-20 15:18] #163 closed

[2020-07-20 16:48] uwejan commented on #163
@rikschennink am removing the plugin, no support no karma.

[2020-07-22 19:58] owalid commented on #27
Hello !
Neither `@progressfiles` nor `@processfiles` works for me, how do you use it on a filepond view instance ?
Thanks !

[2020-07-23 01:33] smholsen opened #164 "Load seems to request from wrong URL"
Hi,
Thanks for the awesome work on this project!

I am using the component as shown below, which works great for uploading images.

[code]

API_BASE_URL here points to a server on http://localhost:1234
This works great when uploading images, the request is there sent to the correct port & url.
When I initially load the component, I also populate the `productFiles` list with the IDs of the images t

[2020-07-26 18:56] smholsen commented on #164
The issue was that I was pushing only string id references to the v-modelled `files` list .
This was resolved when I instead pushed files to the same list using the following format;

[code]

[2020-07-26 18:56] #164 closed

[2020-07-27 09:55] rikschennink commented on #107
closed because inactive

[2020-07-27 09:55] #107 closed

[2020-07-27 09:55] rikschennink commented on #111
closed because inactive

[2020-07-27 09:55] #111 closed

[2020-07-27 09:55] rikschennink commented on #116
closed because inactive

[2020-07-27 09:55] #116 closed

[2020-07-27 09:56] rikschennink commented on #117
closed because inactive

[2020-07-27 09:56] #117 closed

[2020-07-27 09:56] rikschennink commented on #119
closed because inactive

[2020-07-27 09:56] #119 closed

[2020-07-27 09:57] rikschennink commented on #123
closed because inactive

[2020-07-27 09:57] #123 closed

[2020-07-27 09:57] rikschennink commented on #140
closed because inactive

[2020-07-27 09:57] #140 closed

[2020-07-27 09:58] rikschennink commented on #149
closed because inactive

[2020-07-27 09:58] #149 closed

[2020-07-27 09:59] rikschennink commented on #154
closed because inactive

[2020-07-27 09:59] #154 closed

[2020-07-27 16:52] pixeldemon9 opened #165 ""filepond" input not posting as an array with multiple file upload"
After uploading multiple files, a unique ID is returned for each file.  However, the html created for the inputs does not create an array, so only the last "filepond" input is submitted.

[code]

**Expected behavior**
The input names should be created to submit as an array:
`name="filepond[]"`

**other details**

The filepond tag I am using:

`<file-pond
            allow-multiple="true"

[2020-07-27 16:56] rikschennink commented on #165
You can change the name using the `name` prop.

[code]

[2020-07-27 17:30] pixeldemon9 commented on #165
@rikschennink Thank you, that works.  I think it would make more sense to submit the individual upload requests in a non-array field, and upload the form as an array, but this will do.

[2020-07-27 17:30] #165 closed

[2020-08-10 17:23] osnodegeoffrey opened #167 "Headers update are not reflected in FilePond PATCH calls."
**Describe the bug**
My case is when I have huge file upload chunked. I have my JWT token in the headers but it expires during the upload.
My solution does update the token in the Vuex store and, as far as I can tell, it seems to get updated in the FilePond component (using Vue chrome extension) under props -> server -> patch -> headers. However the XHR calls are still using the outdated token and

[2020-08-17 06:06] rikschennink commented on #167
I suspect this is unrelated to the adapter, will move to the core library

[2020-08-17 16:15] lloydjatkinson commented on #54
@Geowan amazing.

[2020-09-01 11:57] adarshmadrecha opened #169 "Support for Vue3"
**Is your feature request related to a problem? Please describe.**
Update filepond for vue 3

**Describe the solution you'd like**
Make it compatible with Vue 3

**Describe alternatives you've considered**
NONE

**Additional context**

[2020-09-01 13:56] rfm-bot opened #170 "🚧 Is this repo looking for support?"
Hello, we created this issue becuase the user @adarshmadrecha told us you are calling for maintainers.
✅ If you're **looking for collaborators** no action is required.
👮🏻‍♂️ If this repo is **well-supported please put a comment** here https://github.com/sospedra/rfm/issues/78 and we'll close it immediately.
Sorry for any inconvinience. We understand this message can feel spammy but we really think

[2020-09-01 14:11] #170 closed

[2020-09-03 16:33] jomofrodo commented on #6
You can add query params to the server url.  So, for instance:

[code]

[2020-09-09 08:10] #122 closed

[2020-09-29 11:32] lustan3216 opened #175 "Why requestTick starts to tick even just import without using?"
![image](https://user-images.githubusercontent.com/12712127/94552478-86c89700-0289-11eb-8339-faa3d0ad16ea.png)

[code]

Even `v-if` keep false, it still ticks. I even don't init it.
Is that possible to start it only when using it?

[2020-09-29 11:54] rikschennink commented on #175
The FilePond internal draw loop starts when the FilePond src file is loaded.

See core issue here:
https://github.com/pqina/filepond/issues/243

I'm aware that it's not ideal but with 6x CPU slowdown on a MacBook from mid 2014 (with FilePond not loaded) this `requestAnimationFrame` call takes approximately `.15ms` which shouldn't be an issue, rest assured that I like to fix this but am currently l

[2020-09-29 11:54] #175 closed

[2020-09-29 15:07] ayophanz commented on #41
![image](https://user-images.githubusercontent.com/24581584/94576877-707e0380-02a8-11eb-8d76-93571049f79a.png)
Hi How do I call custom error message, I want to call see image

[2020-09-30 20:31] dyerrington commented on #22
@juno-w does this only work for single requests / uploads?  Doesn't the csfr token need to be unique per request?

[2020-10-02 13:22] tzsk-rw opened #176 "Hook :before-drop-file is not working"
**My code:**
[code]

Now, the problem here is, the `beforeAdd` method in my component is firing successfully but not the `beforeDrop`.

I've tried multiple things like,

[code]

I know that the `.on` is used to listen for the events. But it was worth a try. Also the `@` is for events as well.

**Additional context**

I have a scenario where I want zip the files in a folder before it is being proce

[2020-10-21 16:26] yashcodezeros opened #177 "Image preview with horizontal image goes outside of the preview box with grid layout"
**Describe the bug**
Image preview with horizontal image goes outside of the preview box with grid layout

**To Reproduce**
[https://codesandbox.io/s/vue-filepond-live-demo-forked-u54td](https://codesandbox.io/s/vue-filepond-live-demo-forked-u54td)

Upload one vertical and one horizontal image.

<img width="546" alt="Screenshot 2020-10-21 at 9 55 30 PM" src="https://user-images.githubusercontent.c

[2020-10-22 08:44] rikschennink commented on #177
See note below grid entry in style docs
https://pqina.nl/filepond/docs/patterns/api/style/#grid-layout

[2020-10-22 08:44] #177 closed

[2020-10-27 08:01] Herz3h commented on #10
Is there a workaround to both have dropOnPage=true and having multiple fileponds @rikschennink ?

[2020-11-02 07:41] rikschennink commented on #10
@Herz3h FilePond would not know which instance to load to. I advise to set it to false and listen for the drop file yourself, you can then pipe the file to the correct filepond instance.

[2020-11-02 08:58] Herz3h commented on #10
Thats a good idea. For now I found this way:

[code]

[2020-11-09 02:24] bso-oo opened #178 "When using the same two components on the same page, if paste them in one component, they will be pasted in another component."
[code]

![image](https://user-images.githubusercontent.com/74163829/98493584-22342b00-227e-11eb-804d-f0e2fc1b1e25.png)

[2020-11-09 09:16] rikschennink commented on #178
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-11-11 07:59] wailashraf71 opened #179 "Create multiple filepond-Vue components by clicking add button"
I've created a tab with bootstrap that contains text fields and Filpond Vue upload component, then I've created a button to add new tabs via jquery with the same text fields and information, how can I append a new Filepond-Vue upload component to these new tabs? also, these components should have different name identifier to process their data with Laravel or PHP.

Please help ASAP 😥

[2020-11-11 08:51] rikschennink commented on #179
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-11-11 09:44] wailashraf71 commented on #179
@rikschennink what issue template?

[2020-11-11 09:52] rikschennink commented on #179
@wailashraf71 It's in the textarea when you submit an issue.

---

**Describe the bug**
A clear and concise description of what the bug is.

**Logs**
Please include browser console and server logs around the time this bug occurred.

**To Reproduce**
To help us help you, if you've found a bug please consider the following:

* If you can demonstrate the bug, please do so by forking [this codesandbox

[2020-11-11 09:55] wailashraf71 commented on #179
@rikschennink I understand thanks but this not a bug, only a request for help about how to do this via Filepond as it should support multiple upload instances.

[2020-11-11 10:00] rikschennink commented on #179
@wailashraf71 in that situation I kindly ask you to ask your question on Stack Overflow. See choices when clicking on new issue.

---

This issue tracker is intended to collect bug reports and feature requests.

For help with integrating FilePond, information on how features work, or questions about specific features of FilePond, please use [Stack Overflow](https://stackoverflow.com/questions/tagg

[2020-11-11 10:02] wailashraf71 commented on #179
@rikschennink Ok thank you

[2020-11-11 10:33] #179 closed

[2020-11-13 22:19] jimmiejackson414 commented on #27
Any update on this? I've tried variations of `@processfile`, `@progressfile`, `@onprocessfile`, and `@onprogressfile`, and none seem to be working.

[2020-11-14 06:50] LTroya opened #180 "Undefined trying to access to serverId on addfile event"
**Describe the bug**
I got undefined when I tried to access the serverId when `@addfile` event is called. Even if I see it on the console

<img width="619" alt="Screen Shot 2020-11-14 at 1 43 54 AM" src="https://user-images.githubusercontent.com/6491259/99141599-e7821800-261a-11eb-8ff6-0b62d9a93d98.png">

Null values are the thing I have tried to access the value:

[code]

**Expected behavior**

G

[2020-11-15 19:33] rikschennink commented on #180
`onaddfile` is called when the file is added to the list, you need to subscribe to `onprocessfile` I think.

[2020-11-15 19:41] rikschennink commented on #27
@jimmiejackson414 See this codesandbox, `processfile` is called.
https://codesandbox.io/s/vue-filepond-v9ijm?file=/src/components/FilePond.vue

[2020-11-16 02:47] LTroya commented on #180
@rikschennink Thanks for the answer. I use it and it works like a charm!

Any hint about why is not working `onaddfile` event? I tried so many ways to access `serverId` but no luck.

I am closing this for now.

[2020-11-16 02:47] #180 closed

[2020-11-16 05:39] rikschennink commented on #180
@LTroya adfile is called when the file is added to FilePond not when it’s uploaded, so the server is isn’t known yet. when you expand the object in console it has been updated with the serverId, when console logging you’re looking at a reference to an object not a snapshot.

[2020-11-16 14:38] Anatolych97 opened #181 "Instance 'destroy' method is undefined"
**Describe the bug**

Filepond instance doesn't provide the destroy method. It's always undefined, but a declaration of the class contains this method
![image](https://user-images.githubusercontent.com/19807353/99264399-140b7f00-2829-11eb-9f2b-098ceb94ea5c.png)

**Logs**

Try to show in console code of destroy method
![image](https://user-images.githubusercontent.com/19807353/99263977-90519280-282

[2020-11-16 20:39] LTroya commented on #180
Oh, thanks for the explanation!

[2020-11-17 12:24] bookyo opened #182 "setOptions in page will affect other page！"
page a:
[code]
page b:
[code]
page a setOptions will be global setting,  and  page b will default use page a setOptions function. this will cause something wrong when i have a lot of different settings on different pages.

i have sovle it use setOptions in mouted() on different pages.

[2020-11-17 12:25] rikschennink commented on #182
`setOptions` is global, you need to set properties on the component if you want to have different options per view.

[2020-11-17 12:25] #182 closed

[2020-11-17 12:26] bookyo commented on #182
i can use itemInsertLocation in setOptions?

[2020-11-23 09:03] rikschennink commented on #181
The `destroy` method is not copied to the component. You can access it on the `_pond` "private" property.
https://github.com/pqina/vue-filepond/blob/master/lib/index.js#L138

[2020-11-27 05:28] shubhamsoni8769 opened #184 "3d-model preview using file pond"
Hi ,
I am using **Three.js** for my Project and want to preview 3d-model using File-Pond lib (same as Image preview)
Is There any way?

[2020-11-27 05:29] #184 closed

[2020-11-27 05:30] shubhamsoni8769 commented on #184
placed in wrong place

[2020-11-27 05:31] shubhamsoni8769 opened #185 "preview 3d-model using file-pond"
Hi ,
I am using **Three.js** for my Project and want to preview 3d-model using File-Pond lib (same as Image preview)
Is There any way?.

[2020-11-27 06:18] rikschennink commented on #185
I’d try to duplicate the image preview or post plugin and then rewrite it so it can render a tiny three js preview? Maybe you can create a three js instance in each preview but I’m afraid you might run out of WebGL contexts.

[2020-11-27 06:18] #185 closed

[2020-11-30 14:50] ysb opened #186 "Drag & Drop sortin not working"
Hi, there is drag&drop sorting feature on main branch, but it's not working on vue version. Is there an additional parameter for that? How can i enable it?
Thanks.

[2020-11-30 18:09] #186 closed

[2020-11-30 18:09] ysb commented on #186
I've found, it's `:allow-reorder="true"`

[2020-12-08 10:41] TomSinclair commented on #169
Any plans to support Vue 3?

[2020-12-08 14:26] rikschennink commented on #169
Yes, just very very busy

[2020-12-22 13:55] ldt opened #188 "add a "replace" action button"
**Is your feature request related to a problem? Please describe.**
I would like to use filepond in an admin page where the user has to upload a file (a synonyms list) and can only replace it.
I can't find how to simply tell the user s.he can re-drag a file or clic to update the file that was previously uploaded.

**Describe the solution you'd like**
I would love an icon, like the X for remove, to

[2020-12-22 15:11] themodernpk commented on #148
@rikschennink I am facing the same issues again and I realized it is happening only when I run `npm run hot` (hot reload). So whenever I save the `vue` file and then it tries to reload the page that's when this error comes in the console and the page fails to reload.

[2020-12-22 15:33] rikschennink commented on #148
@themodernpk I honestly don't know why that would happen, I'm all ears. The WebWorkers are created dynamically so maybe the hot reload messes with references to these dynamic web workers.

[2020-12-22 15:40] rikschennink commented on #188
Hi, this sounds like a question that should be asked on Stack Overflow.

To give a short answer. You can load an existing file and offer remove options, with the original file removed you can add a new one, by setting `allowReplace` to `true` you can also drop new files over existing files.

[2020-12-22 15:40] #188 closed

[2020-12-22 23:13] ldt commented on #188
Hi, Thanks for your quick reply.
I already used `allowReplace`.
My point is that the user will not know s.he can update the file unless s.he removes the existing one as the `idle-label` has disappeared.
So I ended up by adding another label below stating "To replace the existing one, drop a file or **browse**". I test `pond.getFile()` to check if this label should be displayed or not and `pond.bro

[2020-12-23 07:27] rikschennink commented on #188
@ldt Thanks!

Aha, I think I understand. I feel this is something that is very project/page specific and adding a label or paragraph above the field is the right approach here.

[2021-01-05 08:29] farbodkain opened #189 "Send additional info to server in uploading image process"
Hi,im using filepond 4.25.1 on vue 2.6.11 and everything work without problem until now.
i want to send additional information to my server which is aspnet core 3. i send my request from filepond like below
[code]

and server side
`
[code]
`

 in server side i need to access "nationalcode" and "typecode" which is send as data in process and value of these two parameters  always change so its not s

[2021-01-05 10:58] rikschennink commented on #189
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-01-06 14:13] pazarbasifatih opened #190 "Composition Api"
Hello, Thanks for this chic library.
I would like to use composables with FilePond so that I can handle the upload events, but that requires using Composition Api with vue2. When I do that bindings to data variables inside the setup function cannot be processed.
The only alternative is the old fashion repeated code or maybe use mixins.
The error I get is `Property 'handleFilePondInit' does not exi

[2021-01-06 14:41] pazarbasifatih commented on #190
Setting `vetur.experimental.templateInterpolationService` to false, resolved the issues.
I will be reporting if everything is working. Just in case someone else bumps into this behavior in the future.

[2021-01-06 16:09] #190 closed

[2021-01-12 08:02] pazarbasifatih opened #191 "Help me help you translate the documentation into Vuejs."
Hello and thank you for the great library.
Every time I try applying something on the documentation I am having issues with the suggested formula on it because it's in pure JS.
Most of the times I have little to no clue whatsoever about where to put what. The examples are enigmas to solve every time I look at the documentation. (Am I missing hidden Vue doc?) So to put an end to it, we can together

[2021-01-13 07:43] vahidfa opened #192 "When I deploy the project, the upload box disappears"
-------------------------------------
There is no problem when I run the project locally, but when the project is deployed, the upload box disappears.

[code]

[2021-01-13 08:36] rikschennink commented on #192
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed. Please le